

<div class="LPD-modal">
  <button class="close-button" (click)="closeModal()"><i class="pi pi-times-circle" style="color: #708090"></i></button>
 
  <div id="table" class="mat-elevation-z8">
    <h1 style="text-align: center;">{{ isPlant  ? 'Plants' : 'Departements' }}</h1>
    <button type="button" class="btn btn-outline-secondary" style="margin-top: 2rem; margin-left: 1rem;">+ Add</button>

    <table mat-table [dataSource]="getdata">
  
      <!-- Department Columns -->
      <ng-container *ngIf="isDepartment">
        
      <!-- departmentName Column -->
      <ng-container matColumnDef="departmentName">
        <th mat-header-cell *matHeaderCellDef> Departement Name </th>
        <td mat-cell *matCellDef="let department"> {{department.departmentName}} </td>
      </ng-container>
    <!-- departmenManager Column -->
    <ng-container matColumnDef="managerName">
      <th mat-header-cell *matHeaderCellDef> Manager Name </th>
      <td mat-cell *matCellDef="let department"> {{department.managerName}} </td>
    </ng-container>

    <!-- Status Column -->
<!-- Status Column -->
<ng-container matColumnDef="status">
  <th mat-header-cell *matHeaderCellDef> Status </th>
  <td mat-cell *matCellDef="let department">
    <mat-icon [ngClass]="{'active': department.status, 'inactive': !department.status}" *ngIf="department.status; else inactiveIcon">check_circle</mat-icon>
    <ng-template #inactiveIcon><mat-icon [ngClass]="{'active': department.status, 'inactive': !department.status}">cancel</mat-icon></ng-template>
  </td>
</ng-container>
<!-- Actions column -->
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let user">
          <!-- Update Button -->
          <button mat-icon-button color="accent" aria-label="Update">
            <mat-icon>edit</mat-icon>
          </button>
          
        </td>
      </ng-container>
      <!-- Define table headers -->
      <tr mat-header-row
        *matHeaderRowDef="['departmentName','managerName', 'status','Actions']"></tr>
      <!-- Define table rows -->
      <tr mat-row
        *matRowDef="let user; columns: ['departmentName','managerName', 'status','Actions']">
      </tr>
  
      </ng-container>

      <!-- Plant Columns -->
      <ng-container *ngIf="isPlant">
        <ng-container matColumnDef="plant_name">
          <th mat-header-cell *matHeaderCellDef>Plant Name </th>
          <td mat-cell *matCellDef="let plant"> {{plant.plant_name}} </td>
        </ng-container>
        <ng-container matColumnDef="approver_name">
          <th mat-header-cell *matHeaderCellDef>Approver Name </th>
          <td mat-cell *matCellDef="let plant"> {{plant.approver_name}} </td>
        </ng-container>
        <!-- Define table headers -->
        <tr mat-header-row *matHeaderRowDef="['plant_name','approver_name']"></tr>
        <!-- Define table rows -->
        <tr mat-row *matRowDef="let user; columns: ['plant_name','approver_name']"></tr>
      </ng-container>
  
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of users">
    </mat-paginator>
    
  </div>
</div>