  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand logo" href="#">
      <img class="TeLogo" src="assets/Images/logo.png" alt="">
    </a>
    <button class="navbar-toggler" title="Toggle Navigation" name="toggle" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': isNavbarOpen}"  id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Contact">Contact</a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link" href="#register">Register</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" style="text-decoration: none;">
              <button class="btn btn-outline-dark my-2 my-sm-0" id="loginBtn" type="submit">Login</button>
          </a>
      </li>
      </ul>
    </div>
  </nav>


  


  