/* Add custom CSS styles here */


/* CSS Variables */


/* Smooth scroll effect */


/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}



ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
} 
nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
    position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  }
  .hamburger {
    display: none;
  }
  .logo {
    font-size: 40px;
    font-weight: 500;
  }
  .TeLogo{
    width: 250px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-item {
    margin-left: 2rem;
  }
  
  .nav-link {
    font-weight: var(--bold-font);
  }
  
  .nav-link:hover {
    animation: changeColor 2s infinite alternate;
  }


  
  
  .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 0.6rem;
    border: none;
    font-size: 1.4rem;
    border-radius: 5px;
  }
  #loginBtn{
    width: 80px;
  font-size: 17px;
  color: #e6fafe;
  cursor: pointer;
  background: #E98201;
  border: 1px solid #E98201;
  outline: none;
  transition: 1s ease-in-out;
    
  }
  
 #loginBtn:hover{
  transition: 1s ease-in-out;
  background: transparent;
  color: #E98201;
 }


  