<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 text-center text-md-left mb-4 mb-md-0">
            <img class="vid img-fluid" src="/assets/Images/welcomeImg.png" alt="">
        </div>
        <div class="col-12 col-md-6">
            <div class="wrapper">
                <svg>
                    <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                        Welcome !
                    </text>
                </svg>
                <p class="paragrph">To the ultimate tool for effortless equipment management! Our intuitive app is designed to streamline your requests,Our app is tailored for employees to seamlessly request equipment, while providing managers with a robust platform to oversee and approve these requests with ease.</p>
            </div>
        </div>
    </div>
</div>
<p-divider type="solid"></p-divider>

<div class="subText">
<h2>Every Connection Counts</h2>
</div>
<p-divider type="solid"></p-divider>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center" id="services">
    <div class="mb-3 font-bold text-3xl">
        <span class="text-900">Application, </span>
        <span class="text-blue-600">Features</span>
    </div>
    <div class="text-700 mb-6">Unlock Seamless Management and Control.</div>
    <div class="row">
        <div class="col-12 col-md-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-chart-bar text-4xl text-orange-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Dashoard</div>
            <span class="text-700 line-height-3">Effortless Management, Instant Access: Your Comprehensive Hub for Real-Time Monitoring and Seamless Control.</span>
        </div>
        <div class="col-12 col-md-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-pen-to-square text-4xl text-orange-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Equipement,Phone Request</div>
            <span class="text-700 line-height-3">Efficient Equipment and Phone Request Handling: Simplified Submission and Swift Approvals.</span>
        </div>
        <div class="col-12 col-md-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-check-circle text-4xl text-orange-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Easy to Use</div>
            <span class="text-700 line-height-3">Simple and Intuitive: User-Friendly Design for Seamless Navigation.</span>
        </div>
        <div class="col-12 col-md-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-bookmark-fill text-4xl text-orange-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Traceability</div>
            <span class="text-700 line-height-3">End-to-End Visibility: Tracking Every Step with Precision.</span>
        </div>
        <div class="col-12 col-md-4 mb-4 mb-md-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-chart-line text-4xl text-orange-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Advanced Analytics</div>
            <span class="text-700 line-height-3">Harnessing Comprehensive Data Insights to Drive Strategic Decision-Making and Optimize Performance</span>
        </div>
        <div class="col-12 col-md-4 mb-4 mb-md-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-lock text-4xl text-orange-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">End-to-End Encryption</div>
            <span class="text-700 line-height-3">Trusted Security: Implementing Advanced Measures to Safeguard Your Data and Ensure Peace of Mind.</span>
        </div>
        
    </div>
</div>


<!-- Footer -->
 <footer class="footer">
   &copy;<span> {{ currentYear}}</span><span> Te connectivity.</span>
 </footer>