.vid{
    width: 80%;
}
.first-Col{
    box-shadow: #E98201;
}
.container{
    margin-top: 4%;    background-image: url('/assets/Images/bgPargrph.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.Welcome{
    font-size: 500%;
    color:#122247 ;
    letter-spacing: 21px;
}

h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    line-height: 111% !important;
  }


 .paragrph{
    color: rgb(46, 45, 45);
    font-size: 150%;
    line-height:141%;
    text-align: justify;
 }
 .space{
    padding:29px;
    background-color: #E98201;
 }