<!-- Sale & Revenue Start -->
<div class="container-fluid ">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="col-12 md:col-6 xl:col-3 ng-star-inserted ">
                <div class="card shadow-1 flex flex-column p-4"
                    style="border-color: rgb(137 09 122); border-left-width: 4px; border-left-style: solid;">
                    <div class="flex align-items-center">
                        <div class="flex justify-content-center align-items-center p-2 border-round"
                            style="background-color: rgb(137 09 122);"><i class="pi pi-users"
                                style="color: rgb(255, 255, 255);"></i></div><span class="text-xl ml-2 font-semibold"
                            style="color: rgb(137 09 122);">Users</span>
                    </div>
                    <div class="grid mt-3">
                        <div
                            class="col-6 flex flex-column p-3 text-center border-right-1 surface-border ng-star-inserted">
                            <span class="text-color text-2xl font-semibold">640</span><br>
                        </div>
                        <div class="col-6 flex flex-column p-3 text-center ng-star-inserted"><span
                                class="text-color">Registered</span></div><!---->
                    </div><br>
                </div>
            </div>

        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="col-12 md:col-6 xl:col-3 ng-star-inserted ">
                <div class="card shadow-1 flex flex-column p-4"
                    style="border-color: #EA8300; border-left-width: 4px; border-left-style: solid;">
                    <div class="flex align-items-center">
                        <div class="flex justify-content-center align-items-center p-2 border-round"
                            style="background-color: #EA8300;"><i class="pi pi-shopping-cart"
                                style="color: #ffffff;"></i></div><span class="text-xl ml-2 font-semibold"
                            style="color: #EA8300;">Equipment Requests</span>
                    </div>
                    <div class="grid mt-3">
                        <div
                            class="col-6 flex flex-column p-3 text-center border-right-1 surface-border ng-star-inserted">
                            <span class="text-color text-2xl font-semibold ">640</span> <br><span
                                class="text-color ">Approved</span>
                        </div>
                        <div class="col-6 flex flex-column p-3 text-center ng-star-inserted"><span
                                class="text-color text-2xl font-semibold">1420</span><br><span
                                class="text-color ">Rejected</span></div><!---->
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="col-12 md:col-6 xl:col-3 ng-star-inserted ">
                <div class="card shadow-1 flex flex-column p-4"
                    style="border-color: rgb(100, 181, 246); border-left-width: 4px; border-left-style: solid;">
                    <div class="flex align-items-center">
                        <div class="flex justify-content-center align-items-center p-2 border-round"
                            style="background-color: rgb(100, 181, 246);"><i class="pi pi-shopping-cart"
                                style="color: rgb(255, 255, 255);"></i></div><span class="text-xl ml-2 font-semibold"
                            style="color: rgb(100, 181, 246);">Phone Requests</span>
                    </div>
                    <div class="grid mt-3">
                        <div
                            class="col-6 flex flex-column p-3 text-center border-right-1 surface-border ng-star-inserted">
                            <span class="text-color text-2xl font-semibold">640</span><br><span
                                class="text-color">Pending</span>
                        </div>
                        <div class="col-6 flex flex-column p-3 text-center ng-star-inserted"><span
                                class="text-color text-2xl font-semibold ">1420</span> <br><span
                                class="text-color ">Completed</span></div><!---->
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="col-12 md:col-6 xl:col-3 ng-star-inserted ">
                <div class="card shadow-1 flex flex-column p-4"
                    style="border-color: rgb(22 122 135); border-left-width: 4px; border-left-style: solid;">
                    <div class="flex align-items-center">
                        <div class="flex justify-content-center align-items-center p-2 border-round"
                            style="background-color: rgb(22 122 135);"><i class="pi pi-shopping-cart"
                                style="color: rgb(255, 255, 255);"></i></div><span class="text-xl ml-2 font-semibold"
                            style="color: rgb(22 122 135);">Orders</span>
                    </div>
                    <div class="grid mt-3">
                        <div
                            class="col-6 flex flex-column p-3 text-center border-right-1 surface-border ng-star-inserted">
                            <span class="text-color text-2xl font-semibold">640</span><br><span
                                class="text-color ">Pending</span>
                        </div>
                        <div class="col-6 flex flex-column p-3 text-center ng-star-inserted"><span
                                class="text-color text-2xl font-semibold">1420</span><br><span
                                class="text-color ">Completed</span></div><!---->
                    </div>
                </div>
            </div>


        </div>

        <div class="col-sm-6 col-xl-3">
        <div class="col-12 md:col-6 xl:col-3 ng-star-inserted ">
            <div class="bg-light rounded d-flex justify-content-center p-8">
                <p-chart type="doughnut" [data]="data" [options]="options" />
            </div>
        </div>
    </div>

    </div>
    <!-- Sale & Revenue End -->