<div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
<!-- multistep form -->
<form id="msform">
    <!-- fieldsets -->
    <a href="#" >
        <img id="logo" src="assets/Images/logo.png" alt="logo" width="300">
    </a>
    <fieldset>
        <span class="input-group-text ">
            <mat-icon id="personicon" aria-hidden="false" fontIcon="person" ></mat-icon>
        </span>
      <h2 class="fs-title">Login</h2>
      <h3 id="title2" class="fs-subtitle">Enter your credentials</h3>
      <input type="text" name="username"   placeholder="Username" />
      <input type="password" name="password" placeholder="Password" />
      <button id="registerbtn"  class="submit action-button" type="submit">
        <span class="font-weight-bold">Login</span>
    </button>
    </fieldset>
  </form>
</div >