 
<div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>

<!-- multistep form -->
 <div class="container">
  <div class="container d-flex align-items-center min-vh-90">
    <div class="row justify-content-center mt-5 w-100">
        <div class="col-lg-6 col-md-8 col-sm-10">
<form id="msform" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
 
    <!-- fieldsets -->
    <a routerLink="/" id="logo" >
        <img  src="assets/Images/logo.png" alt="logo" width="300">
    </a> 
   
    <fieldset>
        <img class="loginimg" src="assets/Images/loginimg.png" alt="">
      <h2 class="fs-title">Login</h2>
      <h3 id="title2" class="fs-subtitle">Enter your credentials</h3>
      <input type="text" name="username" ngModel placeholder="Te identifier" required/>
      <div class="password-wrapper">
        <input [type]="isPasswordVisible ? 'text' : 'password'" class="password" name="password" ngModel placeholder="Password" required/>
        <i class="pi" [ngClass]="isPasswordVisible ? 'pi-eye-slash' : 'pi-eye'" (click)="togglePasswordVisibility()" style=" cursor: pointer;"></i>
      </div>
      <button id="registerbtn" type="submit" class="submit action-button">
        <span style="color: white;" class="font-weight-bold">Login</span>
      </button>
       <div class="additional-options">
    <p>Don't have an account? <a  routerLink="/register" >  Register</a> </p><br>
  <p-button (click)="showDialog()" label="Forgot Password" [text]="true" severity="secondary" />
</div>
    </fieldset>
  
</form>
</div>
</div >
<p-toast />
<p-dialog header="Enter your Email" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <form (ngSubmit)="passwordEmail()"> 
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email"  name="email">
    </mat-form-field>
    <div class="flex justify-content-end gap-2">
      <p-button  [outlined]="true" type="submit" severity="warning" [disabled]="loadingPasswordEmail">
        <ng-container *ngIf="!loadingPasswordEmail; else loadingTemplate">
          Confirm
        </ng-container>
        <ng-template #loadingTemplate>
          <i class="pi pi-spinner pi-spin"></i>    Loading...
        </ng-template>
      </p-button>
    </div>
  </form>
</p-dialog>