.user-details-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  box-shadow: 0 4px 8px rgba(12, 31, 49, 0.29);
  background-color: rgb(255, 255, 255);
}

.user-details-modal h2 
{
  text-align: center;
margin-bottom: 3rem;
}

.user-details-modal p {
  margin-left: 30px;

}

.user-details-modal .closing {
  left: 435px;
  color: #E98201;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  padding-right: 30px; /* Space for the icon */
  padding: 11.5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 280px;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 16px;
}

.password-wrapper .pi {
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 15px;
}
.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 1.2em; /* Adjust size as needed */
  user-select: none; /* Prevent text selection on click */
}
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content form input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



/* update modal style */
.updatemodal-content{

  margin-left: 25px;
}

.updatemodal-content label {
  flex: 1; /* Allow label to grow and take up available space */
}
.updatemodal-content button {
  padding: 15px 21px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  background-color: #E98201;
}
.updatemodal-content button:hover {
background-color: #c0bab4;
color: #ffffff;
border-color: #ffffff;

}
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

label {
  display: block;
  margin-left: 10px;
}
.profileimage {
  background-color: transparent;
  border: none;
  margin-top: -31px;
  border-radius: 5em;
  width: 40px;
  height: 40px;
  margin-left: 100px;
}
.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
