<div class="user-modal">
  <div class="user-details-modal">
    <!-- Close button -->

    <button class="close-button" (click)="onClose()"><i class="pi pi-times-circle" style="color: #708090"></i></button>
    <h2> {{ mode === 'view' ? 'User Details: '+ user.userName: mode === 'update' ? 'Update User: '+ user.userName : 'Change the password' }}  </h2>
    
    <!-- Display user details or update form based on mode -->
    <ng-container *ngIf="mode === 'view'; else updateForm">
     
      <p><span *ngFor="let role of user?.roles" 
      [ngStyle]="{'background-color': role === 'Admin' ? 'green' : '#e9810173', 'border-radius': '5px','color':'white','padding':'6px','margin-right': '8px'}">
    {{ role }}
   </span></p>
     <p><strong>Username:</strong> {{ user.teNum }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Location:</strong> {{ user.locationName}}</p>
      <p><strong>Plant:</strong> {{user.plant_name}}</p>
      <p><strong>Department:</strong> {{ user.departmentName }}</p>
      <p><strong>Backup Aprover:</strong> {{ user.backupaprover_Name }}</p>
      
    </ng-container>

    <ng-template #updateForm>
      <div class="updatemodal-content">
        <form *ngIf="mode === 'update'; else changepassword" (ngSubmit)="onUpdateUser()">
          <div class="form-row">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Te identifier</mat-label>
                <input matInput [(ngModel)]="user.userName" name="userName">
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>FullName</mat-label>
                <input matInput [(ngModel)]="user.teNum" name="teNum">
              </mat-form-field>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="user.email" name="email">
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="custom-select">
                <mat-label>Select Location</mat-label>
                <mat-select  [(ngModel)]="user.locationName" name="locationName" (selectionChange)="onLocationChange($event)">
                  <mat-option disabled>Select Location</mat-option>
                  <mat-option *ngFor="let location of locations" [value]="location.locationName">{{
                    location.locationName }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <mat-form-field class="custom-select">
                <mat-label>Select Plant</mat-label>
                <mat-select [(ngModel)]="user.plant_name" name="plant_name" >
                  <mat-option disabled>Select Plant</mat-option>
                  <mat-option *ngFor="let plant of plantsOfSelectedLocation" [value]="plant.plant_name">{{ plant.plant_name
                    }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="custom-select">
                <mat-label>Select Department</mat-label>
                <mat-select  [(ngModel)]="user.departmentName" name="departmentName">
                  <mat-option disabled>Select Department</mat-option>
                  <mat-option *ngFor="let department of departmentsOfSelectedPlant" [value]="department.departmentName">{{
                    department.departmentName }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <mat-form-field class="custom-select">
                <mat-label>Select Roles</mat-label>
                <mat-select [(ngModel)]="user.roles" name="roles" multiple>
                  <mat-option *ngFor="let role of Roles" [value]="role.name">{{ role.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="custom-select">
                <mat-label>Select your backup aprover</mat-label>
                <mat-select [(ngModel)]="user.backupaprover_Name"  name="backupaprover_Name">
                  <mat-option disabled>Select a backup aprover</mat-option>
                  <mat-option *ngFor="let user of users" [value]="user.teNum ">{{
                    user.teNum }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div> <div class="form-group">
              <div class="d-flex flex-row-reverse">
                <button type="submit">Update</button>
              </div>
            </div>
        </form>
      </div>
    </ng-template>

    <!-- Template for Change Password Form -->
    <ng-template #changepassword>
      <form (ngSubmit)="onChangePassword()">
        <div class="form-row">
          <div class="form-group">
            <!-- <mat-form-field>
              <input matInput placeholder="New Password" type="password" [(ngModel)]="newPassword" name="newPassword"
                required>
            </mat-form-field> -->
            <p-password class="custom-password1" placeholder="New Password" type="password" [(ngModel)]="newPassword" name="newPassword"
            required [toggleMask]="true"></p-password>

          </div>
          <div class="form-group">
            <!-- <mat-form-field>
              <input matInput placeholder="Confirm Password" type="password" [(ngModel)]="confirmPassword"
                name="confirmPassword" required>
            </mat-form-field> -->
            <div class="password-wrapper">
              <input [type]="isPasswordVisible ? 'text' : 'password'" class="password" placeholder="Confirm Password" type="password" [(ngModel)]="confirmPassword"
              name="confirmPassword" required/>
              <i class="pi" [ngClass]="isPasswordVisible ? 'pi-eye-slash' : 'pi-eye'" (click)="togglePasswordVisibility()" style=" cursor: pointer;"></i>
            </div>
          </div>
        </div>
        <button type="submit">Confirm</button>
      </form>
    </ng-template>
  </div>
</div>