<div class="user-modal">
  <div class="user-details-modal">
    <!-- Close button -->
    
    <button class="close-button" (click)="onClose()"><i class="pi pi-times-circle" style="color: #708090"></i></button>
    
        <h2> {{ mode === 'view' ? 'User Details' : mode === 'update' ? 'Update User' : 'Change the password' }}</h2>
       
        <!-- Display user details or update form based on mode -->
        <ng-container *ngIf="mode === 'view'; else updateForm">
          <p><strong>Username:</strong> {{ user.teNum }}</p>
          <p><strong>TE Number:</strong> {{ user.userName }}</p>
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p><strong>Location:</strong> {{ user.location }}</p>
          <p><strong>Plant:</strong> {{user.plant_name}}</p>
          <p><strong>Department:</strong> {{ user.departmentName }}</p>
          <p><strong>Roles:</strong></p>
          <ul>
            <li *ngFor="let role of user?.roles">{{ role }}</li>
          </ul>
        </ng-container>

        <ng-template #updateForm>
          <div class="updatemodal-content">
            <form *ngIf="mode === 'update'; else changepassword" (ngSubmit)="onUpdateUser()">

              <div class="form-row">
                <div class="form-group">
                  <!-- <label for="userName">Username:</label>
                  <input type="text" id="userName" [(ngModel)]="user.userName" name="userName" required> -->
                  <mat-form-field class="example-full-width">
                    <mat-label>Te identifier</mat-label>
                    <input matInput  [(ngModel)]="user.userName" name="userName"   >
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <mat-label>FullName</mat-label>
                    <input matInput  [(ngModel)]="user.teNum" name="teNum"   >
                  </mat-form-field>
                </div>
              </div>


              <div class="form-row">
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput  [(ngModel)]="user.email" name="email"   >
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field class="custom-select">
                    <mat-label>Select Plant</mat-label>
                    <mat-select  name="location"  (selectionChange)="onPlantChange($event)">
                      <mat-option *ngFor="let plant of plants"  [value]="plant">{{ plant.location }} ({{ plant.plant_name }})</mat-option>
                    </mat-select>
                  </mat-form-field>
               </div>
              </div>

               <div class="form-row">
                <div class="form-group">
                  <mat-form-field class="custom-select">
                      <mat-label>Select Department</mat-label>
                      <mat-select  [(ngModel)]="user.departmentName" name="departmentName">
                          <mat-option *ngFor="let department of selectedPlant?.departments" [value]="department.departmentName">{{ department.departmentName }}</mat-option>
                      </mat-select>
                  </mat-form-field>
               </div>
               <div class="form-group">
                <mat-form-field class="custom-select">
                  <mat-label>Select Roles</mat-label>
                  <mat-select [(ngModel)]="user.roles" name="roles" multiple>
                    <mat-option *ngFor="let role of Roles" [value]="role.name">{{ role.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
             </div>
              </div>

              <button type="submit" mat-button >Update</button>
            </form>
          </div>
        </ng-template>
      
    
       <!-- Template for Change Password Form -->
       <ng-template #changepassword>
        <form (ngSubmit)="onChangePassword()">
          <div class="form-row">
            <div class="form-group">
              <mat-form-field>
                <input matInput placeholder="New Password" type="password" [(ngModel)]="newPassword" name="newPassword" required>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <input matInput placeholder="Confirm Password" type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
              </mat-form-field>
            </div>
          </div>
          <button type="submit" mat-raised-button color="primary">Update</button>
        </form>
      </ng-template>
      </div>
    </div>
