.flex-container {
    display: flex;
    gap: 8px;
}
.search-bar {
  flex: 1; /* Take up remaining space */
  max-width: 300px; /* Limit width to prevent stretching */
  margin-bottom: 0; /* Adjust as needed */
}

.search-field {
  width: 100%; /* Occupy full width within the flex container */
}


.total-price-container {
  text-align: right;
}
.total-price-container span {
color: green;}
.error-message {
  color: red;
  font-size: 0.9em;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -30px;

}

.form-container {
  border: 1px solid #fa9118;
  padding: 20px;
  border-radius: 8px;

  width: 440px;
  margin-bottom: 10px;
}

.submit-button {
  display: block;
  width: 320px;
}
::ng-deep .custom-inplace .p-inplace-display {
  background-color: #EA8300; /* Change this to your desired color */
  color: aliceblue;
}
