<div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>

<!-- multistep form -->
<form id="msform" (ngSubmit)="Register()">
   
    <!-- progressbar -->
    <ul id="progressbar">
        <li id="step1" class="active">Account Setup</li>
        <li id="step2">COMPANY INFOS</li>
        <li id="step3">Personal Details</li>
      </ul>
    <!-- fieldsets -->
    <a href="#" class="navbar-brand">
        <img src="assets/Images/logo.png" alt="logo" width="250">
    </a>
    <fieldset>
      
      <h2 class="fs-title">Create your account</h2>
      <h3 class="fs-subtitle">This is step 1</h3>
      
      <input type="text" name="username"  [(ngModel)]="user.username" placeholder="Username" />
      <input type="text" name="email" [(ngModel)]="user.email" placeholder="Email" />
      <input type="password" name="password" [(ngModel)]="user.password" placeholder="Password" />
      <input type="password" name="cpass" [(ngModel)]="user.confirmPassword" placeholder="Confirm Password" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Company infos</h2>
      <h3 class="fs-subtitle">Your presence on the social network</h3>
      <input type="text" name="TeNUm " placeholder="Te identifier " [(ngModel)]="user.TeNum" />

      <mat-form-field class="custom-select">
        <mat-label>Select Plant</mat-label>
        <mat-select (selectionChange)="onPlantChange($event)">
          <mat-option disabled>Select Plant</mat-option>
          <mat-option *ngFor="let plant of plants" [value]="plant">{{ plant.location }}</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field class="custom-select">
        <mat-label>Select Department</mat-label>
        <mat-select [(ngModel)]="user.DepartmentDeptId" name="departmentId">
          <mat-option disabled>Select Department</mat-option>
          <mat-option *ngFor="let department of selectedPlant?.departments" [value]="department.deptId">{{ department.departmentName }}</mat-option>
        </mat-select>
      </mat-form-field>

      <input type="text" name="Responsibility " placeholder="Your job title"[(ngModel)]="user.Responsibility" />
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Personal Details</h2>
      <h3 class="fs-subtitle">We will never sell it</h3>

      <mat-form-field class="custom-select">
        <mat-label>Select your gender</mat-label>
        <mat-select [(ngModel)]="user.Gender" name="Gender">
          <mat-option disabled>Select your gender</mat-option>
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
      </mat-form-field>
      
      <input type="text" name="phone" placeholder="Phone"  [(ngModel)]="user.PhoneNumber" />
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <button id="registerbtn"  class="submit action-button" type="submit">
        <span class="font-weight-bold">Register</span>
    </button>
    </fieldset>
  </form>
 

</div >