<div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>

<!-- multistep form -->
<form id="msform" (ngSubmit)="Register()">
 
  <a href="#" class="navbar-brand" >
      <img src="assets/Images/logo.png" alt="logo" id="logo" width="250">
  </a>
  <fieldset>
      <h2 class="fs-title">Create your account</h2>
      <div class="input-group">
          <input type="text" name="TeNUm" placeholder="FullName" [(ngModel)]="user.TeNum" />
      <input type="text" name="username" [(ngModel)]="user.username" placeholder="Te identifier" />
          
      </div>
      <input type="text" name="email" [(ngModel)]="user.email" placeholder="Email" />
      
      <div class="input-group">
          <input type="password" name="password" [(ngModel)]="user.password" placeholder="Password" />
          <input type="password" name="cpass" [(ngModel)]="user.confirmPassword" placeholder="Confirm Password" />
      </div>
      <div>
          <mat-form-field class="custom-select">
              <mat-label>Select Plant</mat-label>
              <mat-select (selectionChange)="onPlantChange($event)">
                  <mat-option disabled>Select Plant</mat-option>
                  <mat-option *ngFor="let plant of plants" [value]="plant">{{ plant.location }}</mat-option>
              </mat-select>
          </mat-form-field>
      </div>
      <div class="input-group">
          <mat-form-field class="custom-select">
              <mat-label>Select Department</mat-label>
              <mat-select [(ngModel)]="user.DepartmentDeptId" name="departmentId">
                  <mat-option disabled>Select Department</mat-option>
                  <mat-option *ngFor="let department of selectedPlant?.departments" [value]="department.deptId">{{ department.departmentName }}</mat-option>
              </mat-select>
          </mat-form-field>
      </div>
      <button id="registerbtn" class="submit action-button" type="submit">
          <span class="font-weight-bold">Register</span>
      </button>
  </fieldset>
</form>
 

</div >