<div class="container">
    <div class="row">
        <div class="col">
          
            <img class="gif" src="assets/Images/forgetpassword.gif" alt="">
        </div>
        <div class="col">
            <form id="msform" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                <!-- fieldsets -->
                <a href="#">
                    <img id="logo" src="assets/Images/logo.png" alt="logo" width="300">
                </a>
                <fieldset>
                    <h2 class="fs-title">Forget Password</h2>
                    <h3 id="title2" class="fs-subtitle">Enter your new password</h3>
                    <input type="text" name="email" ngModel placeholder="Email" required />
                    <!-- <input type="password" name="password" ngModel placeholder="Password" required />
                    <input type="password" name="Confirmpassword" ngModel placeholder="Confirm Password" required /> -->
                    <div class="col-6">
                        <p-password  class="password" type="password" name="password" ngModel placeholder="Password" required required [toggleMask]="true"></p-password>
                      </div>
                      <div class="col-6">
                        <p-password  class="confirmpassword" type="password" name="Confirmpassword" ngModel placeholder="Confirm Password" required  [toggleMask]="true"></p-password>
                      </div>


                    <button id="registerbtn" type="submit" class="submit action-button">
                        <span style="color: white;" class="font-weight-bold">Confirm</span>
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>