<div class="container">
    <div class="row">
        <div class="col">
          
            <img class="gif" src="assets/Images/forgetpassword.gif" alt="">
        </div>
        <div class="col">
            <form id="msform" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                <!-- fieldsets -->
                <a href="#">
                    <img id="logo" src="assets/Images/logo.png" alt="logo" width="300">
                </a>
                <fieldset>
                    <h2 class="fs-title">Forget Password</h2>
                    <h3 id="title2" class="fs-subtitle">Enter your new password</h3>
                  
                    <div> 
                        <input class="emailinput" type="text" name="email" pInputText  ngModel placeholder="Email" required />
                    </div> 
                    <div >
                        <p-password  class="password" type="password" name="password" ngModel placeholder="Password" required  [toggleMask]="true"></p-password>
                      </div>
                      <div >
                        <p-password  class="confirmpassword" type="password" name="Confirmpassword" ngModel placeholder="Confirm Password" required  [toggleMask]="true"></p-password>
                      </div>


                   <!-- Loader and Button -->
        <button  type="submit" [disabled]="loading" class="action-button">
            <ng-container *ngIf="loading; else notLoading">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Loading...
            </ng-container>
            <ng-template #notLoading>Confirm</ng-template>
          </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>