<app-nav-bar></app-nav-bar>
<div class="col text-center">
    <h1 class="mt-5">Your Assets Requests List</h1>
</div>
<div class="container-fluid">
    <div class="mb-3">
        <p-dropdown [options]="filterOptions" [(ngModel)]="selectedFilter" optionLabel="label" optionValue="value"
            placeholder="Filter by Approval Status" (onChange)="filterRequests()"></p-dropdown>
    </div>

    <p-table [value]="equipmentRequests" dataKey="equipmentRequestId" [tableStyle]="{ 'min-width': '60rem' }"
        [expandedRowKeys]="expandedRows" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5, 10, 20]">

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 5rem"></th>
                <th pSortableColumn="equipmentRequestId"># <p-sortIcon field="equipmentRequestId" /></th>
                <th pSortableColumn="nmaeOfUser">By <p-sortIcon field="nmaeOfUser" /></th>
                <th pSortableColumn="requestDate">Request Date <p-sortIcon field="requestDate" /></th>
                <th pSortableColumn="pR_Status">PR Status <p-sortIcon field="pR_Status" /></th>
                <th pSortableColumn="requestStatus">Status <p-sortIcon field="requestStatus" /></th>
                <th pSortableColumn="actions">Actions <p-sortIcon field="actions" /></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-request let-expanded="expanded">
            <tr>
                <td>
                    <p-button type="button" pRipple [pRowToggler]="request" [text]="true" [rounded]="true" [plain]="true"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                </td>
                <td>{{ request.equipmentRequestId }}</td>
                <td>{{ request.nmaeOfUser }}</td>

                <td>{{ request.requestDate | date:'dd/MM/yyyy hh:mm' }}</td>
                <td>{{ request.pR_Status }}</td>

                <td>
                    <p-tag [rounded]="true"  [value]="getRequestStatus(request)"
                        [severity]="getRequestStatus(request) === 'Approved' ? 'success' :
                        getRequestStatus(request) === 'Open' ? 'info' :
                        getRequestStatus(request) === 'Pending' ? 'Secondary' :
                        getRequestStatus(request) === 'Partly Approved' ? 'warning' :
                        getRequestStatus(request) === 'Rejected' ? 'danger' : 'info'" />
                </td>
                <td> <p-button icon="pi pi-arrow-up-right" label="Details" severity="warning"
                        (onClick)="showDialog(request)" [outlined]="true"></p-button></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-request>
            <tr>
                <td colspan="7">
                    <div class="p-3">
                        <p-table [value]="request.equipmentSubRequests" dataKey="subEquipmentRequestId">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="background-color: #ea85005f;" pSortableColumn="equipementName">Equipment
                                        Name <p-sortIcon field="equipementName" /></th>
                                    <th style="background-color: #ea85005f;" pSortableColumn="qtEquipment">Quantity
                                        <p-sortIcon field="qtEquipment" /></th>
                                    <th style="background-color: #ea85005f;" pSortableColumn="DepartementManager">
                                        Departement Manager <p-sortIcon field="DepartementManager" /></th>
                                    <th style="background-color: #ea85005f;" pSortableColumn="ItApprover">IT Approver
                                        <p-sortIcon field="ItApprover" /></th>
                                    <th style="background-color: #ea85005f;" pSortableColumn="pu">Finance Approver
                                        <p-sortIcon field="pu" /></th>
                                    <th style="background-color: #ea85005f;" pSortableColumn="subRequestStatus">Status
                                        <p-sortIcon field="subRequestStatus" /></th>
                                    <th style="background-color: #ea85005f;" pSortableColumn="actions">Actions
                                        <p-sortIcon field="actions" /></th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-subRequest>
                                <tr>
                                    <td>{{ subRequest.equipementName }}</td>
                                    <td>{{ subRequest.qtEquipment }}</td>
                                    <td>
                                        <span class="status-text" [ngClass]="{
                                            'approved': subRequest.departmangconfirmStatus === true,
                                            'rejected': subRequest.departmangconfirmStatus === false,
                                            'open': subRequest.departmangconfirmStatus === null
                                            }">
                                            {{ subRequest.departmangconfirmStatus === true ? 'Approved' : subRequest.departmangconfirmStatus === false ? 'Rejected' : 'Open' }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="status-text" [ngClass]="{
                                            'approved': subRequest.iTconfirmSatuts === true,
                                            'rejected': subRequest.iTconfirmSatuts === false,
                                            'offer': request.supplierOffer != null && subRequest.iTconfirmSatuts === null,
                                            'open': subRequest.iTconfirmSatuts === null && request.supplierOffer === null && subRequest.subRequestStatus === null,
                                            'closed': subRequest.departmangconfirmStatus === false || subRequest.iTconfirmSatuts === false
                                            }">
                                            {{ request.supplierOffer != null ? 'Offer' : subRequest.iTconfirmSatuts === true ? 'Approved' : subRequest.departmangconfirmStatus === false ? 'Closed' : 'Open' }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="status-text" [ngClass]="{
                                            'approved': subRequest.financeconfirmSatuts === true,
                                            'rejected': subRequest.financeconfirmSatuts === false,
                                            'open': subRequest.financeconfirmSatuts === null,
                                            'closed': request.supplierOffer === null && subRequest.departmangconfirmStatus === false
                                            }">
                                            {{ subRequest.financeconfirmSatuts === true ? 'Approved' : subRequest.financeconfirmSatuts === false ? 'Rejected' : subRequest.departmangconfirmStatus === false ? 'Closed' : 'Open' }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="status-text" [ngClass]="{
                                            'approved': subRequest.subRequestStatus === true,
                                            'rejected': subRequest.subRequestStatus === false,
                                            'open': subRequest.subRequestStatus === null
                                            }">
                                            {{ subRequest.subRequestStatus === true ? 'Approved' : subRequest.subRequestStatus === false ? 'Rejected' : 'Open' }}
                                        </span>
                                    </td>
                                    <td> <p-button icon="pi pi-arrow-up-right" label="Details" severity="secondary"
                                            [outlined]="true"></p-button></td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="7">There are no sub-requests for this request.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>


    <p-dialog header="Request Details" [modal]="true" [(visible)]="visible">

        <p-panel header="Request {{ selectedRequest?.equipmentRequestId }}">
            <div class="form-row">
                <div class="form-group">
                    <p><strong>By:</strong> {{ selectedRequest?.nmaeOfUser }}</p>
                </div>
                <div class="form-group">
                    <p><strong>For:</strong>
                        <ng-container *ngIf="selectedRequest?.newHireName">
                            <i>{{ selectedRequest?.newHireName }}</i>
                        </ng-container>
                        <ng-container *ngIf="selectedRequest?.isNewhire === true && !selectedRequest?.newHireName">
                            <i> For New hire</i>
                        </ng-container>
                        <ng-container *ngIf="!selectedRequest?.isNewhire">
                            <i> For me</i>
                        </ng-container>
                    </p>
                </div>
                <div class="form-group">
                    <p><strong>Request Date:</strong> {{ selectedRequest?.requestDate | date:'dd/MM/yyyy hh:mm' }}</p>
                </div>
                <div class="form-group">
                    <p><strong>Status:</strong> {{ getRequestStatus(selectedRequest) }}</p>
                </div>
            </div>

            <p-divider type="dashed"></p-divider>

            <p-table [value]="selectedRequest?.equipmentSubRequests" styleClass="p-datatable-gridlines"
                [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Equipment Name</th>
                        <th>Quantity</th>
                        <th>Department Manager</th>
                        <th>IT Approver</th>
                        <th>Finance Approver</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-subRequest>
                    <tr>
                        <td>{{ subRequest.equipementName }}</td>
                        <td>{{ subRequest.qtEquipment }}</td>
                        <td>
                            <span class="status-text" [ngClass]="{
                                'approved': subRequest.departmangconfirmStatus === true,
                                'rejected': subRequest.departmangconfirmStatus === false,
                                'open': subRequest.departmangconfirmStatus === null
                                }">
                                {{ subRequest.departmangconfirmStatus === true ? 'Approved' : subRequest.departmangconfirmStatus === false ? 'Rejected' : 'Open' }}
                            </span>
                        </td>
                        <td>
                            <span class="status-text" [ngClass]="{
                                'approved': subRequest.iTconfirmSatuts === true,
                                'rejected': subRequest.iTconfirmSatuts === false,
                                'offer': selectedRequest.supplierOffer != null && subRequest.iTconfirmSatuts === null,
                                'open': subRequest.iTconfirmSatuts === null && selectedRequest.supplierOffer === null && subRequest.subRequestStatus === null,
                                'closed': subRequest.departmangconfirmStatus === false || subRequest.iTconfirmSatuts === false
                                }">
                                {{ selectedRequest.supplierOffer != null ? 'Offer' : subRequest.iTconfirmSatuts === true ? 'Approved' : subRequest.departmangconfirmStatus === false ? 'Closed' : 'Open' }}
                            </span>
                        </td>
                        <td>
                            <span class="status-text" [ngClass]="{
                                'approved': subRequest.financeconfirmSatuts === true,
                                'rejected': subRequest.financeconfirmSatuts === false,
                                'open': subRequest.financeconfirmSatuts === null,
                                'closed': selectedRequest.supplierOffer=== null && subRequest.departmangconfirmStatus === false
                                }">
                                {{ subRequest.financeconfirmSatuts === true ? 'Approved' : subRequest.financeconfirmSatuts === false ? 'Rejected' : subRequest.departmangconfirmStatus === false ? 'Closed' : 'Open' }}
                            </span>
                        </td>
                        <td>
                            <span class="status-text" [ngClass]="{
                                'approved': subRequest.subRequestStatus === true,
                                'rejected': subRequest.subRequestStatus === false,
                                'open': subRequest.subRequestStatus === null
                                }">
                                {{ subRequest.subRequestStatus === true ? 'Approved' : subRequest.subRequestStatus === false ? 'Rejected' : 'Open' }}
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </p-panel>

       
    </p-dialog>
</div>

