<p-toast></p-toast>
<div class="menu-item">
  <div class="arrow"></div>
  <h2 class="title"><i class="pi pi-shop" style="font-size: 1.5rem"></i>   Suppliers({{NumberSuppliers}})</h2>
  <p-divider type="dashed" />
  <div class="row">
    <div class="col-8">
      <div>
        <button (click)="showDialog('add')" type="button" class="btn btn-outline-secondary">+ Add</button>
      </div>
    </div>
    <div class="col-4">
      <div class="search-bar">
        <mat-form-field appearance="fill" class="search-field">
          <mat-label>Search by Supplier Name</mat-label>
          <input matInput [(ngModel)]="searchTerm" placeholder="Supplier Name">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div id="table" class="mat-elevation-z8">
    <div class="card">
      <p-table [value]="(suppliers | supplierFilte:searchTerm) || []" [paginator]="true" [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[5, 10, 20]">
        <ng-template pTemplate="header">
          <tr>
            <th>Supplier Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-supplier>
          <tr>
            <td>{{ supplier.suuplier_name }}</td>
            <td>{{ supplier.address }}</td>
            <td>{{ supplier.email }}</td>
           
            <td>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                <i class="pi pi-ellipsis-v" style="color: #EA8300"></i>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="showDialog('view', supplier)">
                  <i class="pi pi-eye" style="color: #060606"></i>
                  <span>    View Details</span>
                </button>
                <button mat-menu-item (click)="showDialog('update', supplier)">
                  <i class="pi pi-pencil" style="color: #060606"></i>
                  <span>    Update</span>
                </button>
                <button mat-menu-item (click)="deleteSupplier(supplier.suplierId)">
                  <i class="pi pi-trash" style="color: #060606"></i>
                  <span>    Delete</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div *ngIf="loading2" class="text-center">
        <p-progressSpinner 
    styleClass="w-4rem h-4rem" 
    strokeWidth="8" 
    fill="var(--surface-ground)" 
    animationDuration=".5s" />
        <!-- or any loading indicator/message you prefer -->
        <p>Fetching data...</p>
    </div>
    </div>
  </div>
</div>

<p-dialog 
  header="{{ mode === 'add' ? 'Add Supplier' : mode === 'view' ? ' Supplier Details' : mode === 'Equipements' ? 'Assets' : 'Update Supplier' }}"
  [modal]="true" [(visible)]="visible"  styleClass="custom-dialog">
  <div class="container"> <!-- Replace container with your preferred wrapper -->
    <div class="row justify-content-center">
      <div class="col-md-8"> <!-- Adjust col-md-8 based on your layout needs -->
        <form *ngIf="mode !== 'view' ? mode !== 'Equipements' : mode !== 'view'"
              (ngSubmit)="mode === 'add' ? addSupplier() : updateSupplier()">
          <div class="row">
            <p-floatLabel class="inputFloat">
              <input pInputText [(ngModel)]="selectedSupplier.suuplier_name" name="suuplier_name" id="supplier_name"
                required />
              <label for="supplier_name">Supplier Name</label>
            </p-floatLabel>
            <p-floatLabel class="inputFloat">
              <input pInputText [(ngModel)]="selectedSupplier.address" name="address" id="address" required />
              <label for="address">Address</label>
            </p-floatLabel>
            <p-floatLabel class="inputFloat">
              <input pInputText [(ngModel)]="selectedSupplier.email" name="email" id="email" required />
              <label for="email">Email</label>
            </p-floatLabel>
          </div>
          <p-divider></p-divider>
  
          <div class="confirmbtn col align-self-end">
            <button type="submit" class="button">
              {{ mode === 'add' ? 'Add' : 'Update' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="mode === 'view'">
    <p-divider></p-divider>

    <div class="row">
      <p><strong>Supplier Name:</strong> {{ selectedSupplier.suuplier_name }}</p>
      <p><strong>Address:</strong> {{ selectedSupplier.address }}</p>
      <p><strong>Email:</strong> {{ selectedSupplier.email }}</p>
    </div>
    <p-divider></p-divider>

  </div>

  <!-- <div *ngIf="mode === 'Equipements'">
    <p-orderList [value]="selectedSupplier.equipements" [listStyle]="{ width:'20rem' }" filterBy="equipName"
      filterPlaceholder="Filter by asset name">
      <ng-template let-equipemnt pTemplate="item">
        <p-divider></p-divider>
        <div class="col-8">
          <div class="flex-1 flex flex-column gap-2">
            <div class="flex align-items-center gap-2">
              <span>Name: {{ equipemnt.equipName }}</span>
            </div>
          </div>
        </div>
        <p-divider></p-divider>
      </ng-template>
    </p-orderList>
  </div> -->
</p-dialog>