<!-- Search Bar -->
<div class="menu-item">
  <div class="arrow"></div>
  <h2 class="title">Users ({{numberofusers}})</h2>
  <div class="search-bar">
  <mat-form-field appearance="fill" class="search-field">
    <mat-label > Search by Te identifier</mat-label>
    <input  matInput [(ngModel)]="searchTerm" name="user.userName" placeholder="Te identifier">
  </mat-form-field>
</div>

<div id="table" class="mat-elevation-z8">
  <table mat-table  [dataSource]="(users | userFilter:searchTerm) || []">

    <!-- Teidentifier Column -->
    <ng-container matColumnDef="Teidentifier">
      <th mat-header-cell *matHeaderCellDef><i class="pi pi-hashtag"></i> Te identifier </th>
      <td mat-cell *matCellDef="let user"> {{user.userName}} </td>
    </ng-container>

    <!-- Fullname Column -->
    <ng-container matColumnDef="Fullname">
      <th mat-header-cell *matHeaderCellDef><i class="pi pi-user"></i> Fullname </th>
      <td mat-cell *matCellDef="let user"> {{user.teNum}} </td>
    </ng-container>
     <!-- Plant Column -->
     <ng-container matColumnDef="Location">
      <th mat-header-cell *matHeaderCellDef><i class="pi pi-map-marker"></i> Location </th>
      <td mat-cell *matCellDef="let user"> {{user.location}} </td>
    </ng-container>
    <!-- Plant Column -->
    <ng-container matColumnDef="Plant">
      <th mat-header-cell *matHeaderCellDef><i class="pi pi-sitemap"></i> Plant </th>
      <td mat-cell *matCellDef="let user"> {{user.plant_name}} </td>
    </ng-container>
    <!-- Departement Column -->
    <ng-container matColumnDef="Departement">
      <th mat-header-cell *matHeaderCellDef> <i class="pi pi-building"></i>Departement </th>
      <td mat-cell *matCellDef="let user"> {{user.departmentName}} </td>
    </ng-container>
     <!-- Departement Column -->
     <ng-container matColumnDef="backupaprover_Name">
      <th mat-header-cell *matHeaderCellDef><i class="pi pi-check-circle"></i> Backup Aprover </th>
      <td mat-cell *matCellDef="let user"> {{user.backupaprover_Name}} </td>
    </ng-container>
    <!-- Email Column -->
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef><i class="pi pi-envelope"></i> Email </th>
      <td mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>
    <!-- Roles Column -->
    <ng-container matColumnDef="Roles">
      <th mat-header-cell *matHeaderCellDef><i class="pi pi-sliders-h"></i> Roles </th>
      <td mat-cell *matCellDef="let user">
        <div *ngFor="let role of user.roles">
          {{role}}
        </div>
      </td>
    </ng-container>
    <!-- Actions Column -->
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let user">
        <!-- Actions Button -->
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
          <mat-icon>more_vert</mat-icon>
        </button>
    
        <mat-menu #menu="matMenu">
          <!-- View Details Button -->
          <button mat-menu-item (click)="viewUserDetails(user)">
            <mat-icon>visibility</mat-icon>
            <span>View Details</span>
          </button>
          <!-- Update Button -->
          <button mat-menu-item (click)="openUpdateModal(user)">
            <mat-icon>edit</mat-icon>
            <span>Update</span>
          </button>
          <!-- Delete Button -->
          <button mat-menu-item (click)="deleteUser(user)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
          <!-- Change Password Button -->
          <button mat-menu-item (click)="openChangePasswordModal(user.id)">
            <mat-icon>vpn_key</mat-icon>
            <span>Change Password</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <!-- Define table headers -->
    <tr mat-header-row
      *matHeaderRowDef="['Teidentifier', 'Fullname', 'Email','Location','Plant','Departement','backupaprover_Name','Roles', 'Actions']"></tr>
    <!-- Define table rows -->
    <tr mat-row
      *matRowDef="let user; columns: ['Teidentifier', 'Fullname', 'Email','Location','Plant','Departement','backupaprover_Name','Roles', 'Actions']">
    </tr>

  </table>

  <!-- Paginator -->
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of users">
  </mat-paginator>


</div>
<p-toast></p-toast>
<!-- modal to hundel the update and the showdeails of the user -->
<app-user-modal *ngIf="showModal"
                [user]="selectedUser"
                [userId]="userId"
                [mode]="modalMode"
                (closeModal)="closeModal()"
                (updateUser)="updateUser($event)"
                (changePassword)="changePassword($event)">
</app-user-modal> </div> 