
<!-- Search Bar -->
<div class="container-fluid p-0 menu-item">
  <div class="arrow"></div>
  <h2 class="title">Users ({{numberofusers}})</h2>
  <div class="search-bar">
    <mat-form-field appearance="fill" class="search-field">
      <mat-label> Search by Te identifier/Fullname</mat-label>
      <input matInput [(ngModel)]="searchTerm" name="user.userName" placeholder="Te identifier/Fullname">
    </mat-form-field>
  </div>

  <div id="table" class="mat-elevation-z8">

    <div class="card">
      <p-table [value]="(users | userFilter:searchTerm) || []" [paginator]="true" [rows]="5"
        [tableStyle]="{ 'min-width': '50rem;border-radius: 30px;' }" [rowsPerPageOptions]="[5, 10, 20]" class="table">
        <ng-template pTemplate="header">
          <tr>
            <th># Te identifier</th>
            <th> Fullname</th>
            <th> Email </th>
            <th> Roles </th>
           <th ><a style="color: white;" routerLink="/admin/plants"> Location </a></th>
            <th><a style="color: white;" routerLink="/admin/plants">Plant </a></th>
            <th><a style="color: white;" routerLink="/admin/plants">Departement</a> </th>
            <th>Backup Aprover </th>
            <th>Approver</th>
            <th>Actions </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>{{user.userName}}</td>
            <td> {{user.teNum}} </td>
            <td>{{user.email}}</td>
            <td>
              <div id="role" *ngFor="let role of user.roles" [ngStyle]="{'background-color': role === 'Admin' ? 'rgba(19, 96, 59, 0.666) ' : 'rgb(246, 187, 92)'}">
                {{ role }}
              </div>
            </td>
            <td>{{user.locationName}} </td>
            <td>{{user.plant_name}}</td>
            <td>{{user.departmentName}}</td>
            <td>
              @if(user.backupActive){
              <p style="color: green;"> (Activated)</p>
              }
               @else {
                <p style="color: red;">(Disabled)</p>
               }
              {{user.backupaprover_Name}} </td>
            <td>
              @if(user.approverActive){
              <p style="color: green;"> (Activated)</p>
              }
               @else {
                <p style="color: red;">(Disabled)</p>
               }{{user.managerName}} </td>

            <td> <!-- Actions Button -->
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                <!-- View Details Button -->
                <button mat-menu-item (click)="showDialog('view',user)">
                  <mat-icon>visibility</mat-icon>
                  <span>View Details</span>
                </button>
                <!-- Update Button -->
                <button mat-menu-item (click)="showDialog('update',user)">
                  <mat-icon>edit</mat-icon>
                  <span>Update</span>
                </button>
                <!-- Delete Button -->
                <button mat-menu-item (click)="deleteUser(user)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
                <!-- Change Password Button -->
                <button mat-menu-item (click)="showDialog('changepassword',user)">
                  <mat-icon>vpn_key</mat-icon>
                  <span>Change Password</span>
                </button>
              </mat-menu>
            </td>

          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>


  <!-- modal to hundel the update and the showdeails of the user -->
  <!-- <app-user-modal *ngIf="showModal" [user]="selectedUser" [userId]="userId" [mode]="modalMode"
    (closeModal)="closeModal()" (updateUser)="updateUser($event)" (changePassword)="changePassword($event)">
  </app-user-modal> -->
</div>






<p-toast></p-toast>

<p-dialog
  header="{{ mode === 'changepassword' ? 'Change password' : mode === 'view' ? 'View Details' : 'Update Informations' }}"
  [modal]="true" [(visible)]="visible">


  <!-- Close button -->

  <!-- <button class="close-button" (click)="onClose()"><i class="pi pi-times-circle" style="color: #708090"></i></button> -->
  <h2 style="color: darkblue; text-align: center;"> {{ mode === 'view' ? '- User: '+ locationed.userName: mode ===
    'update' ? ' - User: '+ locationed.userName :
    '- User: '+ locationed.userName }} </h2>

  <!-- Display user details or update form based on mode -->
  <ng-container *ngIf="mode === 'view'; else updateForm">

    <p><span *ngFor="let role of locationed?.roles"
        [ngStyle]="{'background-color': role === 'Admin' ? 'green' : '#e9810173', 'border-radius': '5px','color':'white','padding':'6px','margin-right': '8px'}">
        {{ role }}
      </span></p>
      <p-divider type="dashed" />
    <p><strong>Username:</strong> {{ locationed.teNum }}</p>
    <p><strong>Email:</strong> {{ locationed.email }}</p>
    <p><strong>Location:</strong> {{ locationed.locationName}}</p>
    <p><strong>Plant:</strong> {{locationed.plant_name}}</p>
    <p><strong>Department:</strong> {{ locationed.departmentName }}</p>
    <p><strong>Backup Aprover:</strong> {{ locationed.backupaprover_Name }}</p>
    <p><strong>Approver:</strong> {{ locationed.managerName }}</p>
  </ng-container>

  <ng-template #updateForm>
    <div class="updatemodal-content">
      <form *ngIf="mode === 'update'; else changepassword" (ngSubmit)="updateUser(locationed)">

        <div class="form-row">
          <div class="form-group">
            <label for="userName">Te Identifier :</label>
            <input type="text" [(ngModel)]="locationed.userName" name="userName" pInputText />
          </div>
          <div class="form-group">
            <label for="teNum">FullName :</label>
            <input type="text" [(ngModel)]="locationed.teNum" name="teNum" pInputText />
          </div>
          <div class="form-group">
            <label for="email">Email :</label>
            <input type="text" [(ngModel)]="locationed.email" name="email" pInputText />
          </div>
        </div>
        <p-divider type="dashed" />
        <p-accordion [activeIndex]="0">
          <p-accordionTab header="Location & Plant & Department">
            <div class="form-row">
              <div class="form-group">
                <label for="locationName">Location :</label>
                <p-dropdown [options]="locations" [(ngModel)]="locationed.locationName" name="locationName"
                  optionLabel="locationName" optionValue="locationName" (onChange)="onLocationChange($event)"
                  [showClear]="true" [filter]="true" filterBy="locationName" placeholder="Select Location"
                  class="custom-dropdown">
                </p-dropdown>

              </div>

              <div class="form-group">
                <label for="plant_name">Plant :</label>
                <p-dropdown [options]="plantsOfSelectedLocation" [(ngModel)]="locationed.plant_name" name="plant_name"
                  optionLabel="plant_name" optionValue="plant_name" [showClear]="true" [filter]="true"
                  filterBy="plant_name" placeholder="Select Plant">
                </p-dropdown>
              </div>
              <div class="form-group">
                <label for="departmentName">Departemnt :</label>
                <p-dropdown [options]="departmentsOfSelectedPlant" [(ngModel)]="locationed.departmentName"
                  name="departmentName" optionLabel="departmentName" optionValue="departmentName" [showClear]="true"
                  [filter]="true" filterBy="departmentName" placeholder="Select Department">
                </p-dropdown>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
        <p-divider type="dashed" />
        <p-accordion [activeIndex]="0">
          <p-accordionTab header="Other Informations">
            <div class="form-row">
              <div class="form-group">
                <label for="roles">Roles :</label>
                <p-multiSelect [options]="Roles" [(ngModel)]="locationed.roles" name="roles" optionLabel="name"
                  optionValue="name" [showClear]="true" [filter]="true" filterBy="name" placeholder="Select Roles"
                  multiple="multiple">
                </p-multiSelect>
              </div> 
              

              <div class="form-group">
                <label for="backupaprover_Name"> <p-checkbox 
                  [(ngModel)]="locationed.backupActive" 
                  name="backupActive" 
                  binary="true"
                  (onChange)="onApproverActiveChangeBackup()">
              </p-checkbox>Backup Approver :</label>
                <p-dropdown [appendTo]="'body'" [options]="users" [(ngModel)]="locationed.backupaprover_Name" name="backupaprover_Name"
                  optionLabel="teNum" optionValue="teNum" [showClear]="true" [filter]="true" filterBy="teNum"
                  placeholder="Select the Backup Approver" [disabled]="!locationed.backupActive">
                  
                </p-dropdown>
              </div>
            
              <div class="form-group">
                <label >
                    <p-checkbox 
                        [(ngModel)]="locationed.approverActive" 
                        name="approverActive" 
                        binary="true"
                        (onChange)="onApproverActiveChange()">
                    </p-checkbox>
                    Approver name:
                </label>
                <p-dropdown 
                    [appendTo]="'body'" 
                    [options]="users" 
                    [(ngModel)]="locationed.managerName" 
                    name="managerName"
                    optionLabel="teNum" 
                    optionValue="teNum" 
                    [showClear]="true" 
                    [filter]="true" 
                    filterBy="teNum"
                    placeholder="Select the Approver"
                    [disabled]="!locationed.approverActive">
                </p-dropdown>
            </div>
            </div>
          </p-accordionTab>
        </p-accordion>
        <div class="form-group">
                <div class="d-flex flex-row-reverse">
                  <button type="submit">Update</button>
                </div>
              </div>
      </form>
    </div>
  </ng-template>

  <!-- Template for Change Password Form (ngSubmit)="changePassword()"-->
  <ng-template #changepassword>
    <p-divider type="dashed" />
    <h3 class="passwordmessage">
      NB: Password must,
      Contain at least one special character (e.g., -),<br>
      Contain at least one uppercase letter (A-Z),<br>
      Contain at least one digit (0-9)
    </h3>
    <p-divider type="dashed" />

    <form (ngSubmit)="changePassword({ userId: locationed.id, newPassword: newPassword})">
      <div class="form-row">

        <div class="form-group">
          <p-password class="custom-password1" placeholder="New Password" type="password" [(ngModel)]="newPassword"
            name="newPassword" required [toggleMask]="true"></p-password>
        </div>
        <div class="form-group">
          <div class="password-wrapper">
            <input [type]="isPasswordVisible ? 'text' : 'password'" class="password" placeholder="Confirm Password"
              [(ngModel)]="confirmPassword" name="confirmPassword" required />
            <i class="pi" [ngClass]="isPasswordVisible ? 'pi-eye-slash' : 'pi-eye'" (click)="togglePasswordVisibility()"
              style="cursor: pointer;"></i>
          </div>
        </div>
      </div>
      <button type="submit">Confirm</button>
    </form>
  </ng-template>
</p-dialog>
