<nav class="navbar navbar-expand-md navbar-light ">
  <a class="navbar-brand logo" href="/">
    <img class="TeLogo" src="assets/Images/logo.png" alt="">
  </a>
  <p-button  *ngIf="isLoggedIn()" icon="pi pi-home" routerLink="/" severity="warning" label="Home" [rounded]="true" [text]="true"  />
  <p-button *ngIf="isLoggedIn()" icon="pi pi-ellipsis-h" routerLink="/Menu"  label="Menu"  severity="warning" [rounded]="true" [text]="true" />
  

  <button class="navbar-toggler" title="Toggle Navigation" name="toggle" type="button" data-bs-toggle="collapse"
    data-bs-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ms-auto me-auto">
      <li class="nav-item" *ngIf="!isLoggedIn()">

      </li>
      <li class="nav-item" *ngIf="!isLoggedIn()">
      </li>
    </ul>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a class="nav-link" href="#services">Features</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a routerLink="/register" class="nav-link" href="#register">Register</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!isLoggedIn()" routerLink="/login" style="text-decoration: none;">
          <button class="btn btn-outline-dark my-2 my-sm-0" id="loginBtn" type="submit">Login</button>
        </a>
      </li>

      <li class="nav-item" *ngIf="isLoggedIn()">
        <div class="dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            <p-avatar 
            icon="pi pi-user" 
            styleClass="mr-2"
            [style]="{ 'background-color': '#769ef55f', color: '#2a1261' }" />
            <span class="d-none d-lg-inline-flex">{{authUser.teNum}}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end  ">
            <a routerLink="/MyProfile" class="dropdown-item"><i class="pi pi-sign-out pi-user p-2"></i>My Profile</a>
            <button (click)="logout()" class="dropdown-item"><i class="pi pi-sign-out p-2"></i>Log Out</button>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <button class="button" *ngIf="isLoggedIn()">
          <i class="pi pi-bell" style="color: rgb(255, 255, 255)"></i>
        </button>
      </li>

    </ul> 
  </div>
</nav>

<!-- <app-dock *ngIf="isLoggedIn()"></app-dock> -->