<nav class="navbar navbar-expand-md navbar-light ">
  <a class="navbar-brand logo" href="/">
    <img class="TeLogo" src="assets/Images/logo.png" alt="">
  </a>
    <p-button routerLink="/Menu" icon="pi pi-ellipsis-h" label="Menu" [rounded]="true" [text]="true" severity="secondary" />
  
    <p-button routerLink="/" icon="pi pi-home"  [rounded]="true" [text]="true" severity="secondary" />
  <button class="navbar-toggler" title="Toggle Navigation" name="toggle" type="button" data-bs-toggle="collapse"
    data-bs-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"  id="collapsibleNavbar">
    <ul class="navbar-nav ms-auto me-auto">
      <li class="nav-item" *ngIf="!isLoggedIn()">

      </li>
      <li class="nav-item" *ngIf="!isLoggedIn()">
      </li>
    </ul>
    
    <ul class="navbar-nav ms-auto">
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a class="nav-link" href="#services">Services</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a routerLink="/register" class="nav-link" href="#register">Register</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!isLoggedIn()" routerLink="/login" style="text-decoration: none;">
          <button class="btn btn-outline-dark my-2 my-sm-0" id="loginBtn" type="submit">Login</button>
        </a>
      </li> 
      
      <li class="nav-item" *ngIf="isLoggedIn()">
        <div class="dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            <i class="rounded-circle me-lg-2 pi pi-user" style="width:20px;"></i>
            <span class="d-none d-lg-inline-flex">{{authUser.teNum}}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end bg-light border-8 rounded-0 rounded-bottom m-0">
            <a href="#" class="dropdown-item"><i class="pi pi-sign-out pi-user p-2"></i>My Profile</a>
            <button (click)="logout()" class="dropdown-item"><i class="pi pi-sign-out p-2"></i>Log Out</button>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <button class="button" *ngIf="isLoggedIn()">
          <svg viewBox="0 0 448 512" class="bell">
            <path
              d="M224 0c-17.7 0-32 14.3-32 32V49.9C119.5 61.4 64 124.2 64 200v33.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416H424c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V200c0-75.8-55.5-138.6-128-150.1V32c0-17.7-14.3-32-32-32zm0 96h8c57.4 0 104 46.6 104 104v33.4c0 47.9 13.9 94.6 39.7 134.6H72.3C98.1 328 112 281.3 112 233.4V200c0-57.4 46.6-104 104-104h8zm64 352H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z">
            </path>
          </svg>
        </button>
      </li>
     
    </ul>
  </div>
</nav>

<!-- <app-dock *ngIf="isLoggedIn()"></app-dock> -->