<app-nav-bar></app-nav-bar>
<div class="col text-center">
    <h1 class="mt-5">Approval Queue List</h1>
</div>

<div class="container-fluid">
     <!-- Filter Dropdown -->
     <div class="mb-3">
        <p-dropdown [options]="filterOptions" [(ngModel)]="selectedFilter" optionLabel="label" optionValue="value"
            placeholder="Filter by Approval Status" (onChange)="filterRequests()"></p-dropdown>
    </div>
    <div class="mb-3">
        <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()"
            styleClass="p-button-text"></p-button>
        <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
        <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()"
            styleClass="p-button-text"></p-button>
    </div>
    <p-table [value]="filteredEquipmentsList" [paginator]="true" [rows]="5" [first]="first" [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '100rem' }" (onPage)="pageChange($event)" [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template pTemplate="header">
            <tr>
                <th>Request Number</th>
                <th>Request Date</th>
                <th>Equipment</th>
                <th>For new hire</th>
                <th>Manager Confirmation</th>
                <th>IT Confirmation</th>
                <th>Finance Confirmation</th>
                <th>PR Number</th>
                <th>PR status</th>
                <th>PO Number</th>
                <th>Request Status</th>
                <th>Actions</th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-equip>
            <tr [ngClass]="{'approved-request': equip.pR_Status && equip.poNum != null && equip.financeconfirmSatuts && equip.departmangconfirmStatus && equip.supplierOffer != null, 'not-approved-request': !equip.pR_Status || equip.pR_Not_ConfirmCause}">
                <td>{{ equip.userEquipmentRequestId }}</td>
                <td>{{ equip.requestDate | date:'dd/MM/yyyy hh:mm' }}</td>
                <td>{{ equip.equipmentName }}</td>
                <td>
                    <span *ngIf="equip.isNewhire; else former">New Hire</span>
                    <ng-template #former>For me</ng-template>
                </td>
                <td [ngClass]="{'text-success': equip.departmangconfirmStatus, 'text-danger': !equip.departmangconfirmStatus}">
                    <i *ngIf="equip.departmangconfirmStatus" class="pi pi-check-circle"></i>
                    <i *ngIf="!equip.departmangconfirmStatus" class="pi pi-times-circle"></i>
                    {{ equip.departmangconfirmStatus ? 'Approved' : 'Open' }}
                </td>
                <td [ngClass]="{'text-success': equip.iTconfirmSatuts,'text-indigo':equip.supplierOffer, 'text-danger': !equip.iTconfirmSatuts && !equip.supplierOffer}">
                    <i *ngIf="equip.supplierOffer && !equip.iTconfirmSatuts" class="pi pi-info-circle"></i>
                    <i *ngIf="equip.iTconfirmSatuts" class="pi pi-check-circle"></i>
                    <i *ngIf="!equip.iTconfirmSatuts && !equip.supplierOffer" class="pi pi-times-circle"></i>
                    <ng-container *ngIf="equip.supplierOffer && !equip.iTconfirmSatuts">
                        Offer
                    </ng-container>
                    <ng-container *ngIf="equip.iTconfirmSatuts && equip.supplierOffer">
                        Approved
                    </ng-container>
                    <ng-container *ngIf="!equip.supplierOffer && !equip.iTconfirmSatuts">
                        Open
                    </ng-container>
                </td>
                <td [ngClass]="{'text-success': equip.financeconfirmSatuts, 'text-danger': !equip.financeconfirmSatuts}">
                    <i *ngIf="equip.financeconfirmSatuts" class="pi pi-check-circle"></i>
                    <i *ngIf="!equip.financeconfirmSatuts" class="pi pi-times-circle"></i>
                    {{ equip.financeconfirmSatuts ? 'Approved' : 'Open' }}
                </td>
                <td>
                    <ng-container *ngIf="equip.prNum != null; else noPr">
                        {{ equip.prNum }}
                    </ng-container>
                    <ng-template #noPr><i class="pi pi-times-circle"></i></ng-template>
                </td>
                <td [ngClass]="{'text-success': equip.pR_Status && !equip.pR_Not_ConfirmCause, 'text-danger': !equip.pR_Status || equip.pR_Not_ConfirmCause}">
                    <i *ngIf="equip.pR_Status && !equip.pR_Not_ConfirmCause" class="pi pi-check-circle"></i>
                    <i *ngIf="!equip.pR_Status || equip.pR_Not_ConfirmCause" class="pi pi-times-circle"></i>
                    <ng-container *ngIf="!equip.pR_Not_ConfirmCause">
                        {{equip.pR_Status ? 'Approved' : 'Open'}}
                    </ng-container>
                    <ng-container *ngIf="equip.pR_Not_ConfirmCause">
                        Not Confirmed
                    </ng-container>
                </td>
                <td>
                    <ng-container *ngIf="equip.poNum != null; else noPo">
                        {{ equip.poNum }}
                    </ng-container>
                    <ng-template #noPo><i class="pi pi-times-circle"></i></ng-template>
                </td>
                <td>
                    <ng-container *ngIf="equip.pR_Not_ConfirmCause !== null; else approvedStatus">
                        <span class="text-danger"> <i class="pi pi-times-circle"></i> Not Approved</span>
                    </ng-container>
                    <ng-template #approvedStatus>
                        <ng-container *ngIf="equip.departmangconfirmStatus; else notStarted">
                            <ng-container *ngIf="equip.supplierOffer != null; else inProgress">
                                <ng-container *ngIf="equip.financeconfirmSatuts; else waitingForFinance">
                                    <ng-container *ngIf="equip.pR_Status && equip.poNum != null; else waitingForPRPO">
                                        <span class="text-success"> <i class="pi pi-check-circle"></i> Approved</span>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-template>
                    <ng-template #notStarted>
                        <span class="text-danger"> <i class="pi pi-times-circle"></i> Not Approved</span>
                    </ng-template>
                    <ng-template #inProgress>
                        <span class="text-warning"><i class="pi pi-info-circle"></i> In Progress</span>
                    </ng-template>
                    <ng-template #waitingForFinance>
                        <span class="text-info"><i class="pi pi-info-circle"></i> Waiting for Finance Approval</span>
                    </ng-template>
                    <ng-template #waitingForPRPO>
                        <span class="text-info"><i class="pi pi-info-circle"></i> Waiting for PR</span>
                    </ng-template>
                </td>
                <td>
                    <div class="flex-container">
                        <p-button *ngIf="IsManger" icon="pi pi-check" [outlined]="true" severity="Success"></p-button>
                        <p-button icon="pi pi-arrow-up-right" (click)="showDialog(equip)" severity="warning" [outlined]="true"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Equipment Request Details" [(visible)]="visible" [modal]="true" [style]="{width: '50vw'}">
   
    @if(requeststatus==true){
        <img  src="/assets/Images/approved.png" width="222rem" alt="" style="position: absolute; left: 11px;">
    }
    @else if (requeststatus==false) {
        <img src="/assets/Images/rejected.png" width="222rem" alt="" style="position: absolute; left: 11px;">
    }
    @else {
       
    }
    <p-timeline [value]="timelineEvents" align="alternate" *ngIf="selectedRequest">
        <ng-template pTemplate="marker" let-event>
            <ng-container *ngIf="event.title === 'Manager approval'">
              <span *ngIf="event.status" class="pi pi-check-circle" style="color:green;"></span>
              <span *ngIf="!event.status" class="pi pi-times-circle" style="color:red;"></span>
            </ng-container>
            <ng-container *ngIf="event.title === 'IT approval'">
              <span *ngIf="event.status " class="pi pi-check-circle" style="color:green;"></span>
              <span *ngIf="!event.status && !event.supplierOffer" class="pi pi-times-circle" style="color:red;"></span>
              <span *ngIf="event.supplierOffer && !event.status" class="pi pi-info-circle" style="color:rgb(64, 161, 175);"></span>
            </ng-container>
            <ng-container *ngIf="event.title === 'Finance approval'">
              <span *ngIf="event.status" class="pi pi-check-circle" style="color:green;"></span>
              <span *ngIf="!event.status" class="pi pi-times-circle" style="color:red;"></span>
            </ng-container>
            <ng-container *ngIf="event.title === 'PR & PO approval'">
              <span *ngIf="event.statusPr && !event.RejectionCause" class="pi pi-check-circle" style="color:green;"></span>
              <span *ngIf="event.RejectionCause" class="pi pi-times-circle" style="color:red;"></span>
            </ng-container>
            <ng-container *ngIf="event.title === 'Request approval'">
              <span *ngIf="event.statusreq" class="pi pi-check-circle" style="color:green;"></span>
              <span *ngIf="!event.statusreq" class="pi pi-times-circle" style="color:red;"></span>
            </ng-container>
          </ng-template>
        <ng-template pTemplate="content" let-event>
            <div class="p-timeline-event-content">
                <h4 style="color: #104a7c; font-size: 1.2rem; ">{{ event.title }}</h4>
                <p-divider type="dashed" />

                <p *ngIf="event.date"><b>Date:</b> {{ event.date | date:'dd/MM/yyyy hh:mm' }}</p>
                <p *ngIf="event.by"><b>By:</b> {{ event.by }} </p>
                <p *ngIf="event.ForWho"><b>For Who:</b> {{ event.ForWho?'New Hire':'For Me' }}</p>
                <p *ngIf="event.Equipment"><b>Equipment:</b> {{ event.Equipment }}</p>
                <p *ngIf="event.Comments"><b>Comment:</b> {{ event.Comments }}</p>

                <p *ngIf="event.RejectionCause"><b>Rejection Cause:</b> {{ event.RejectionCause }}</p>
                
                <p *ngIf="event.status != null"><b>Status:</b> {{ getStatusLabel(event.status, event.supplierOffer) }}</p>
                <p *ngIf="event.statusPr != null"><b>Status PR:</b> {{ getPRStatusLabel(event.statusPr, event.RejectionCause) }}</p>
                <p *ngIf="event.Ponum != null"><b>PO Number:</b> {{ event.Ponum }}</p>
                <p *ngIf="event.PrNum != null"><b>PR Number:</b> {{ event.PrNum }}</p>

                @if (event.statusreq==true) {
                <p *ngIf="event.statusreq !== undefined"><b>Request Status:</b> Approved</p>}
                @else if (event.statusreq==false) {<p *ngIf="event.statusreq !== undefined">Request Status: Rejected</p>}
                @else {<p *ngIf="event.statusreq !== undefined"><b>Request Status:</b> open</p>}
            </div>
        </ng-template>
    </p-timeline>
</p-dialog>