<app-nav-bar></app-nav-bar>
<div class="col text-center">
    <h1 class="mt-5">Approval Queue List</h1>
</div>
<p-divider type="dashed"></p-divider>

<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <!-- Filter Dropdown -->
        <div>
            <p-dropdown [options]="filterOptions" [(ngModel)]="selectedFilter" optionLabel="label" optionValue="value"
                placeholder="Filter by Approval Status" (onChange)="filterRequests()"></p-dropdown>
        </div>
        <div class="flex-auto">
            <p-calendar class="ml-2" [(ngModel)]="date1" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
                (onSelect)="filterRequestsByDate()" />
            <button *ngIf="date1" class="btn  ml-2" (click)="clearDate()">
                <i class="pi pi-times" style="color: #EA8300"></i>
            </button>
        </div>
        <!-- Search Bar -->
        <div class="search-bar">
            <mat-form-field appearance="fill" class="search-field">
                <mat-label>Search by User FullName</mat-label>
                <input matInput [(ngModel)]="searchTerm" name="nameOfUser" placeholder="Fullname">
            </mat-form-field>
        </div>
    </div>
    <p-divider type="dashed"></p-divider>

    <p-table *ngIf="!loading2" [value]="(filteredRequestList | requestFilter:searchTerm)|| []" [paginator]="true" [rows]="5"
        [first]="first" [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '100rem' }"
        (onPage)="pageChange($event)"  [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template pTemplate="header">
            <tr >
                <th >Request Number</th>
                <th>Request Date</th>
                <th>Asset</th>
                <th>For new hire</th>
                <th>Manager Confirmation</th>
                <th>IT Confirmation</th>
                <th>Finance Confirmation</th>
                <th>PR Number</th>
                <th>PR status</th>
                <th>PO Number</th>
                <th>Request Status</th>
                <th>Actions</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-equip>
            <tr [ngClass]="{
                    'approved-request': equip.requestStatus === true,
                    'not-approved-request': !equip.pR_Status || equip.pR_Not_ConfirmCause
                }">
                <td>{{ equip.userEquipmentRequestId }}</td>
                <td>{{ equip.requestDate | date:'dd/MM/yyyy hh:mm' }}</td>
                <td>{{ equip.equipmentName }}</td>
                <td>
                    <span *ngIf="equip.isNewhire; else former">New Hire</span>
                    <ng-template #former>For me</ng-template>
                </td>
                <td>
                    <span class="status-text" [ngClass]="{
                            'approved': equip.departmangconfirmStatus === true,
                            'rejected': equip.departmangconfirmStatus === false,
                            'open': equip.departmangconfirmStatus === null
                        }">
                        {{ equip.departmangconfirmStatus === true ? 'Approved' : equip.departmangconfirmStatus === false ? 'Rejected' : 'Open' }}
                    </span>
                </td>
                <td>
                    <span class="status-text" [ngClass]="{
                            'approved': equip.iTconfirmSatuts === true,
                            'rejected': equip.iTconfirmSatuts === false,
                            'offer': equip.supplierOffer != null && equip.iTconfirmSatuts === null,
                            'open': equip.iTconfirmSatuts === null && equip.supplierOffer === null && equip.requestStatus === null,
                            'closed': equip.departmangconfirmStatus === false || equip.iTconfirmSatuts === false
                        }">
                        {{ equip.supplierOffer != null ? 'Offer' : equip.iTconfirmSatuts === true ? 'Approved' : equip.departmangconfirmStatus === false ? 'Closed' : 'Open' }}
                    </span>
                </td>
                <td>
                    <span class="status-text" [ngClass]="{
                            'approved': equip.financeconfirmSatuts === true,
                            'rejected': equip.financeconfirmSatuts === false,
                            'open': equip.financeconfirmSatuts === null,
                            'closed': equip.supplierOffer === null && equip.departmangconfirmStatus === false
                        }">
                        {{ equip.financeconfirmSatuts === true ? 'Approved' : equip.financeconfirmSatuts === false ? 'Rejected' : equip.departmangconfirmStatus === false ? 'Closed' : 'Open' }}
                    </span>
                </td>
                <td>
                    <span class="status-text" [ngClass]="{
                            'approved': equip.pR_Status === true,
                            'rejected': equip.pR_Status === false,
                            'open': equip.pR_Status === null,
                            'closed': equip.departmangconfirmStatus === false || equip.financeconfirmSatuts === false
                        }">
                        {{ equip.pR_Status === true ? 'Approved' : equip.pR_Status === false ? 'Rejected' : equip.departmangconfirmStatus === false || equip.financeconfirmSatuts === false ? 'Closed' : 'Open' }}
                    </span>
                </td>
                <td>
                    <ng-container *ngIf="equip.prNum != null; else noPr">
                        {{ equip.prNum }}
                    </ng-container>
                    <ng-template #noPr><i class="pi pi-times-circle"></i></ng-template>
                </td>
                <td>
                    <ng-container *ngIf="equip.poNum != null; else noPo">
                        {{ equip.poNum }}
                    </ng-container>
                    <ng-template #noPo><i class="pi pi-times-circle"></i></ng-template>
                </td>
                <td>
                    <ng-container *ngIf="equip.requestStatus === true; else defaultCheck">
                        <span class="text-success"><i class="pi pi-check-circle"></i> Approved</span>
                    </ng-container>
                    <ng-template #defaultCheck>
                        <ng-container *ngIf="equip.pR_Status !== false; else notApprovedStatus">
                            <ng-container *ngIf="equip.pR_Not_ConfirmCause !== null; else approvedStatus">
                                <span class="text-danger"><i class="pi pi-times-circle"></i> Not Approved</span>
                            </ng-container>
                            <ng-template #approvedStatus>
                                <ng-container *ngIf="equip.departmangconfirmStatus === true; else notStarted">
                                    <ng-container *ngIf="equip.supplierOffer !== null; else inProgress">
                                        <ng-container *ngIf="equip.financeconfirmSatuts === true; else waitingForFinanceOrRejected">
                                            <ng-container *ngIf="equip.poNum !== null; else waitingForPRPO">
                                                <span class="text-success"><i class="pi pi-check-circle"></i> Approved</span>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-template>
                            <ng-template #notStarted>
                                <span class="text-danger"><i class="pi pi-times-circle"></i> Not Approved</span>
                            </ng-template>
                            <ng-template #inProgress>
                                <span class="text-warning"><i class="pi pi-info-circle"></i> In Progress</span>
                            </ng-template>
                            <ng-template #waitingForFinanceOrRejected>
                                <ng-container *ngIf="equip.financeconfirmSatuts === false">
                                    <span class="text-danger"><i class="pi pi-times-circle"></i> Not Approved</span>
                                </ng-container>
                                <ng-container *ngIf="equip.financeconfirmSatuts === null">
                                    <span class="text-info"><i class="pi pi-info-circle"></i> Waiting for Finance Approval</span>
                                </ng-container>
                            </ng-template>
                            <ng-template #waitingForPRPO>
                                <span class="text-info"><i class="pi pi-info-circle"></i> Waiting for PR</span>
                            </ng-template>
                        </ng-container>
                        <ng-template #notApprovedStatus>
                            <span class="text-danger"><i class="pi pi-times-circle"></i> Not Approved</span>
                        </ng-template>
                    </ng-template>
                </td>
                <td>
                    <div class="flex-container">
                        <div *ngIf="equip.departmangconfirmStatus == null">
                            <p-button *ngIf="IsManger" icon="pi pi-check" [outlined]="true"
                                (click)="showDialog(equip, 'approve')" severity="Success"></p-button>
                        </div>
                        <div *ngIf="equip.supplierOffer == null && equip.departmangconfirmStatus === true && equip.requestStatus === null">
                            <p-button *ngIf="IsItApprover" label="Offer" icon="pi pi-file-pdf" [outlined]="true"
                                (click)="showDialog(equip, 'Offer')" severity="Success"></p-button>
                        </div>
                        <p-button icon="pi pi-arrow-up-right" (click)="showDialog(equip, 'view')" severity="warning"
                            [outlined]="true"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div *ngIf="loading2" class="text-center">
        <p-progressSpinner 
    styleClass="w-4rem h-4rem" 
    strokeWidth="8" 
    fill="var(--surface-ground)" 
    animationDuration=".5s" />
        <!-- or any loading indicator/message you prefer -->
        <p>Fetching data...</p>
    </div>
<p-toast key="br"></p-toast>
<div class="approve-dialog">
    <p-dialog header="{{ mode === 'view' ? 'Request Details' : mode === 'approve' ? 'Request Approval' : 'Supplier Offer Importation' }}" [(visible)]="visible" [modal]="true" [style]="{width: '50vw'}">
        <div *ngIf="mode === 'view'">
            <div class="position-relative">
                <img *ngIf="selectedRequest.requestStatus === true" src="/assets/Images/approved.png" width="222rem" alt="" style="position: absolute; left: 11px;">
                <img *ngIf="selectedRequest.requestStatus === false" src="/assets/Images/rejected.png" width="222rem" alt="" style="position: absolute; left: 11px;">
            </div>
            <p-timeline [value]="timelineEvents" align="alternate" *ngIf="selectedRequest">
                <ng-template pTemplate="marker" let-event>
                    <ng-container *ngIf="event.title === 'Manager approval'">
                        <span *ngIf="event.status === true" class="pi pi-check-circle" style="color:green;"></span>
                        <span *ngIf="event.status === false" class="pi pi-times-circle" style="color:red;"></span>
                        <span *ngIf="event.status === null" class="pi pi-hourglass" style="color:rgba(0, 51, 255, 0.777);"></span>
                        <span *ngIf="event.status === 'Closed'" class="pi pi-lock" style="color:grey;"></span>
                    </ng-container>
                    <ng-container *ngIf="event.title === 'IT approval'">
                        <span *ngIf="event.status === true" class="pi pi-check-circle" style="color:green;"></span>
                        <span *ngIf="event.status === false && !event.supplierOffer" class="pi pi-times-circle" style="color:red;"></span>
                        <span *ngIf="event.supplierOffer && event.status === null" class="pi pi-info-circle" style="color:rgb(64, 161, 175);"></span>
                        <span *ngIf="event.status === null && event.supplierOffer === null" class="pi pi-hourglass" style="color:rgba(0, 51, 255, 0.777);"></span>
                        <span *ngIf="event.status === 'Closed'" class="pi pi-lock" style="color:grey;"></span>
                    </ng-container>
                    <ng-container *ngIf="event.title === 'Finance approval'">
                        <span *ngIf="event.status === true" class="pi pi-check-circle" style="color:green;"></span>
                        <span *ngIf="event.status === false" class="pi pi-times-circle" style="color:red;"></span>
                        <span *ngIf="event.status === null" class="pi pi-hourglass" style="color:rgba(0, 51, 255, 0.777);"></span>
                        <span *ngIf="event.status === 'Closed'" class="pi pi-lock" style="color:grey;"></span>
                    </ng-container>
                    <ng-container *ngIf="event.title === 'PR & PO approval'">
                        <span *ngIf="event.statusPr === true" class="pi pi-check-circle" style="color:green;"></span>
                        <span *ngIf="event.statusPr === false" class="pi pi-times-circle" style="color:red;"></span>
                        <span *ngIf="event.statusPr === null" class="pi pi-hourglass" style="color:rgba(0, 51, 255, 0.777);"></span>
                        <span *ngIf="event.statusPr === 'Closed'" class="pi pi-lock" style="color:grey;"></span>
                    </ng-container>
                    <ng-container *ngIf="event.title === 'Request approval'">
                        <ng-container *ngIf="event.statusreq === true; else checkInProgress">
                            <span class="pi pi-check-circle" style="color:green;"></span>
                        </ng-container>
                        <ng-template #checkInProgress>
                            <ng-container *ngIf="event.statusreq === false; else checkInProgressFurther">
                                <span class="pi pi-times-circle" style="color:red;"></span>
                            </ng-container>
                            <ng-template #checkInProgressFurther>
                                <ng-container *ngIf="event.supplierOffer !== null; else checkFinanceApproval">
                                    <span class="pi pi-info-circle" style="color:rgb(64, 161, 175);"></span>
                                </ng-container>
                                <ng-template #checkFinanceApproval>
                                    <ng-container *ngIf="event.financeconfirmSatuts === null; else checkPRApproval">
                                        <span class="pi pi-info-circle" style="color:rgb(64, 161, 175);"></span>
                                    </ng-container>
                                    <ng-template #checkPRApproval>
                                        <ng-container *ngIf="event.poNum === null; else defaultNotApproved">
                                            <span class="pi pi-info-circle" style="color:rgb(64, 161, 175);"></span>
                                        </ng-container>
                                        <ng-template #defaultNotApproved>
                                            <span class="pi pi-times-circle" style="color:red;"></span>
                                        </ng-template>
                                    </ng-template>
                                </ng-template>
                            </ng-template>
                        </ng-template>
                        <span *ngIf="event.statusreq === 'Closed'" class="pi pi-lock" style="color:grey;"></span>
                    </ng-container>
                </ng-template>
                <ng-template pTemplate="content" let-event>
                    <div class="p-timeline-event-content">
                        <h4 style="color: #104a7c; font-size: 1.2rem;">{{ event.title }}</h4>
                        <p-divider type="dashed" />
                        <p *ngIf="event.date"><b>Date:</b> {{ event.date | date:'dd/MM/yyyy hh:mm' }}</p>
                        <p *ngIf="event.by"><b>By:</b> {{ event.by }}</p>
                        <p *ngIf="event.ForWho"><b>For Who:</b> {{ event.ForWho ? 'New Hire' : 'For Me' }}</p>
                        <p *ngIf="event.Equipment"><b>Asset:</b> {{ event.Equipment }}</p>
                        <p *ngIf="event.Comments"><b>Comment:</b> {{ event.Comments }}</p>
                        <p *ngIf="event.RejectionCause"><b>Rejection Cause:</b> {{ event.RejectionCause }}</p>
                        <p *ngIf="event.status != null"><b>Status:</b> {{ getStatusText(event) }}</p>
                        <p *ngIf="event.statusPr != null"><b>Status PR:</b> {{ getStatusPRText(event) }}</p>
                        <p *ngIf="event.Ponum != null"><b>PO Number:</b> {{ event.Ponum }}</p>
                        <p *ngIf="event.PrNum != null"><b>PR Number:</b> {{ event.PrNum }}</p>
                        <p *ngIf="event.statusreq != null"><b>Request Status:</b> {{ event.statusreq ? 'Approved' : 'Rejected' }}</p>
                        <p *ngIf="event.status === 'Closed' || event.statusPr === 'Closed' || event.statusreq === 'Closed'"><b>Status:</b> Closed</p>
                    </div>
                </ng-template>
            </p-timeline>
        </div>
        <div *ngIf="mode === 'approve'" class="d-flex justify-content-center align-items-center text-center ">
            <div class="w-100">
                <p-divider type="dashed"></p-divider>
                <form (ngSubmit)="updateRequest(selectedRequest)" class="position-relative">
                    <h2>Select your response:</h2>
                    <p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value" name="departmangconfirmStatus" [(ngModel)]="selectedRequest.departmangconfirmStatus"></p-selectButton>
                    <h2 *ngIf="selectedRequest.departmangconfirmStatus === false">Your Rejection cause:</h2>
                    <textarea rows="5" cols="30" pInputTextarea name="departmang_Not_confirmCause" *ngIf="selectedRequest.departmangconfirmStatus === false" [(ngModel)]="selectedRequest.departmang_Not_confirmCause"></textarea>
                    <div class="position-absolute end-0 bottom-0">
                        <p-button type="submit" [outlined]="true" [disabled]="loading">
                            <ng-container *ngIf="!loading; else loadingTemplate">
                                Confirm
                            </ng-container>
                            <ng-template #loadingTemplate>
                                <i class="pi pi-spinner pi-spin"></i> Loading...
                            </ng-template>
                        </p-button>
                    </div>
                </form>
            </div>
        </div>
        <div *ngIf="mode === 'Offer'">
            <!-- Content for supplier offer goes here -->
        </div>
    </p-dialog>
</div>
