<app-nav-bar *ngIf="!IsAdmin"></app-nav-bar>

<div class="col text-center">
    <h1 class="mt-5"><i class="pi pi-bars" style="font-size: 1rem"></i> Maintenance Approval Queue List</h1>
</div>
<p-divider></p-divider>
<div class="container-fluid">
    <p-table [value]="maintenanceList" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '80rem' }"
        [rowsPerPageOptions]="[5, 10, 20]">
        <ng-template pTemplate="header">
            <tr>
                <th style="background-color: #769ef55f; "># Request Number</th>
                <th style="background-color: #769ef55f; ">Request Date</th>
                <th style="background-color: #769ef55f; ">By</th>
                <th style="background-color: #769ef55f; ">Equipment Type</th>
                <th style="background-color: #769ef55f;">Damage Type </th>
                <th style="background-color: #769ef55f; ">Status</th>

                <th style="background-color: #769ef55f; ">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-request>
            <tr [ngClass]="{'recent-request': isRecentRequest(request.requestDate)}">
                <td>{{ request.maintenanceId }}</td>
                <td>{{ request.requestDate | date:'dd/MM/yyyy hh:mm'}}</td>
                <td>{{ request.itApproverName}}</td>
                <td>{{ request.equipmentType}}</td>
                <td>{{ request.damageTYpe}}</td>
                <td>
                    <p-tag [rounded]="true" [value]="getRequestStatusGeneral(request)" [severity]="getRequestStatusGeneral(request) === 'Approved' ? 'success' :
                    getRequestStatusGeneral(request) === 'Open' ? 'info' :
                    getRequestStatusGeneral(request) === 'Waiting for PO' ? 'warning':
                    getRequestStatusGeneral(request) === 'Waiting for PR' ? 'secondary' :
                    getRequestStatusGeneral(request) === 'Approved' ? 'success':
                    getRequestStatusGeneral(request) === 'Rejected' ? 'danger' : 'info'" />

                </td>

                <td>
                    <p-button icon="pi pi-arrow-up-right" label="Details" severity="secondary"
                        (onClick)="showDialog(request)" [outlined]="true"></p-button>
                    <p-button class="ml-2" *ngIf="IsItApprover || ISitbackupAprover ||IsAdmin" icon="pi pi-pencil" label="Edit"
                        severity="info" (onClick)="showDialog6(request)" [outlined]="true"></p-button>
                    <p-button *ngIf="!IsItApprover" class="ml-2" icon="pi pi-reply" [outlined]="true"
                        (onClick)="showDialog3(request)" label="Approve" severity="Success"></p-button>
                    <p-button
                        *ngIf="(IsItApprover===true ||ISitbackupAprover===true) && request.controllerconfirmSatuts===true"
                        class="ml-2" icon="pi pi-reply" [outlined]="true" (onClick)="showDialog4(request)" label="PR"
                        severity="warning"></p-button>
                    <p-button *ngIf="(IsItApprover===true || ISitbackupAprover===true) && request.pR_Status===true "
                        class="ml-2" icon="pi pi-reply" [outlined]="true" (onClick)="showDialog5(request)" label="PO"
                        severity="primary"></p-button>
                </td>

            </tr>
        </ng-template>

    </p-table>
    <div *ngIf="loading" class="text-center">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
            animationDuration=".5s" />
        <!-- or any loading indicator/message you prefer -->
        <p>Fetching data...</p>
    </div>
</div>



<p-dialog header="Request Details" [modal]="true" [(visible)]="visible" [style]="{width: '70vw'}">
    <div class="position-relative" *ngIf="selectedRequest">
        <img *ngIf="selectedRequest?.requestStatus === true" src="/assets/Images/approved.png" width="222rem"
            alt="Approved" style="position: absolute; left: 11px;">
        <img *ngIf="selectedRequest?.requestStatus === false" src="/assets/Images/rejected.png" width="222rem"
            alt="Rejected" style="position: absolute; left: 11px;">
    </div>

    <p-timeline [value]="timelineEvents" align="alternate">
        <ng-template pTemplate="marker" let-event>
            <ng-container *ngIf="event.title">
                <span *ngIf="getIconForEvent(event)" [ngClass]="getIconForEvent(event)"
                    [style.color]="getColorForEvent(event)"></span>
            </ng-container>
        </ng-template>

        <ng-template pTemplate="content" let-event>
            <div class="p-timeline-event-content">
                <h4 style="color: #104a7c; font-size: 1.2rem;">{{ event.title }}</h4>
                <p-divider type="dashed"></p-divider>
                <p *ngIf="event.date"><b>Date:</b> {{ event.date | date:'dd/MM/yyyy hh:mm' }}</p>
                <p *ngIf="event.by"><b>By:</b> {{ event.by }}</p>
                <p *ngIf="event.Equipment"><b>Asset Type:</b> {{ event.Equipment }}</p>
                <p *ngIf="event.damageTYpe"><b>Damage Type:</b> {{ event.damageTYpe }}</p>
                <p *ngIf="event.supplier"><b>Supplier Name:</b> {{ event.supplier }}</p>
                <p *ngIf="event.ForWho"><b>For whom:</b> {{ event.ForWho }} </p>
                <p *ngIf="event.sn"><b> Equipement Serial Number:</b> {{ event.sn }} </p>
                <p *ngIf="event.equipementType"><b>Equipment Type:</b> {{ event.equipementType }} </p>
                <p *ngIf="event.statusManag"><b>Status:</b> {{ event.statusManag }} </p>
                <p *ngIf="event.statusFina || event.statusFina !=null"><b>Status:</b> {{ event.statusFina }} </p>
                <p *ngIf="event.statusIT  || event.statusIT !=null"><b>Status:</b> {{ event.statusIT }} </p>
                <p *ngIf="event.PrStatus"><b>PR Status:</b> {{ event.PrStatus }}</p>
                <p *ngIf="event.cc"><b>CC:</b> {{ event.cc }}</p>
                <p *ngIf="event.gl"><b>GL:</b> {{ event.gl }}</p>
                <p *ngIf="event.order"><b>Order:</b> {{ event.order }}</p>
                <p *ngIf="event.prnum"><b>PR number:</b> {{ event.prnum }}</p>
                <p *ngIf="event.ponum"><b>PO number:</b> {{ event.ponum }}</p>
                <p *ngIf="event.statusreq"><b>Status:</b> {{ event.statusreq }} </p>
                <p *ngIf="event.Comments"><b>Comment:</b> {{ event.Comments }}</p>
                <p *ngIf="event.RejectionCause"><b>Cause:</b> {{ event.RejectionCause }}</p>
                <p-button *ngIf="event.title==='Request Created' && event.damageTYpe==='User damage' "
                    (onClick)="showDialog2()" icon="pi pi-user" label="Supplier Offer" />
            </div>
        </ng-template>
    </p-timeline>
</p-dialog>


<p-dialog [(visible)]="visible3" header="Approval" [modal]="true" [style]="{width: '70vw'}">
    <div *ngIf="IsManger || ISbackupAprover ||IsApprover">
        <div class="w-100">
            <p-divider type="dashed"></p-divider>

            <form (ngSubmit)="Approve()" class="position-relative" #form="ngForm">
                <h3>Select your response:</h3>
                <p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value"
                    name="departmangconfirmStatus" [(ngModel)]="selectedRequest.departmangconfirmStatus" required>
                </p-selectButton>
                <div *ngIf="form.submitted && !selectedRequest.departmangconfirmStatus" class="error-message">
                    Response is required.
                </div>
                <br>
                <h3>Enter the cause:</h3>
                <textarea rows="10" cols="70" pInputTextarea name="departmang_Not_confirmCause"
                    [(ngModel)]="selectedRequest.departmang_Not_confirmCause" required #cause="ngModel">
                </textarea>
                <div *ngIf="cause.touched && cause.invalid" class="error-message">
                    Cause is required.
                </div>
                <br>
                <div class="position-relative end-0 bottom-0">
                    <p-button type="submit" [outlined]="true" [disabled]="loading2 || form.invalid">
                        <ng-container *ngIf="!loading2; else loadingTemplate">
                            Confirm
                        </ng-container>
                        <ng-template #loadingTemplate>
                            <i class="pi pi-spinner pi-spin"></i> Loading...
                        </ng-template>
                    </p-button>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="IsAdmin">
        <form (ngSubmit)="AdminApprove()" class="position-relative" #form="ngForm">
            <p-tabView>

                <p-tabPanel header="Manager Approval">
                    <div class="w-100">
                        <p-divider type="dashed"></p-divider>

                        <h2>Select your response:</h2>
                        <p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value"
                            name="departmangconfirmStatus" [(ngModel)]="selectedRequest.departmangconfirmStatus"
                            required>
                        </p-selectButton>
                        <div class="form-group mt-3">
                            <p-dropdown [appendTo]="'body'" [options]="ManagerList" name="deptManagId"
                                optionLabel="teNum" optionValue="id" [showClear]="true" [filter]="true" filterBy="teNum"
                                placeholder="Select the Depatment Manager" [(ngModel)]="selectedRequest.deptManagId">
                            </p-dropdown>
                        </div>

                        <br>
                        <h2>Enter the cause:</h2>
                        <textarea rows="10" cols="70" pInputTextarea name="departmang_Not_confirmCause"
                            [(ngModel)]="selectedRequest.departmang_Not_confirmCause" required>
                    </textarea>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Controller Approval">
                    <div class="w-100">
                        <p-divider type="dashed"></p-divider>

                        <h2>Select your response:</h2>
                        <p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value"
                            name="controllerconfirmSatuts" [(ngModel)]="selectedRequest.controllerconfirmSatuts"
                            required>
                        </p-selectButton>
                        <div class="form-group mt-3">
                            <p-dropdown [appendTo]="'body'" [options]="ControllerList" name="controllerid"
                                optionLabel="teNum" optionValue="id" [showClear]="true" [filter]="true" filterBy="teNum"
                                placeholder="Select the Controller" [(ngModel)]="selectedRequest.controllerId">
                            </p-dropdown>
                        </div>
                        <br>
                        <div class="container">
                            <p-divider align="left" type="solid"> <b>GL & CC & Order</b>
                            </p-divider>

                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <input pInputText id="GL" aria-describedby="gl-help" name="gl" placeholder="GL"
                                        [(ngModel)]="selectedRequest.gl" class="form-control" />
                                </div>
                                <div class="col-md-4 mb-3">
                                    <input pInputText id="CC" aria-describedby="CC-help" name="cc" placeholder="CC"
                                        [(ngModel)]="selectedRequest.cc" class="form-control" />
                                </div>
                                <div class="col-md-4 mb-3">
                                    <input pInputText id="order" aria-describedby="order-help" placeholder="Order"
                                        name="order" [(ngModel)]="selectedRequest.order" class="form-control" />

                                </div>
                            </div>
                        </div>
                        <p-divider type="solid"> </p-divider>


                        <br>
                        <div *ngIf="selectedRequest.controllerconfirmSatuts==false" class="col-md-4 mb-3">
                            <h2>Enter the cause:</h2>
                            <textarea rows="6" cols="50" pInputTextarea name="controller_Not_confirmCause"
                                [(ngModel)]="selectedRequest.controller_Not_confirmCause" required #cause="ngModel">
                    </textarea>
                        </div>

                    </div>
                </p-tabPanel>
                <p-tabPanel header="PR">
                    <div class="w-100">
                        <p-divider type="dashed"></p-divider>

                        <h2>Select your response:</h2>
                        <p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value"
                            name="pR_Status" [(ngModel)]="selectedRequest.pR_Status" required>
                        </p-selectButton>
                        <div class="form-group mt-3">
                            <p-dropdown [appendTo]="'body'" [options]="ItApproversList" name="itId" optionLabel="teNum"
                                optionValue="id" [showClear]="true" [filter]="true" filterBy="teNum"
                                placeholder="Select the IT Approver" [(ngModel)]="selectedRequest.itId">
                            </p-dropdown>
                        </div>

                        <br>

                        <div>
                            <p-divider align="left" type="solid"> <b> PR</b>
                            </p-divider>
                            <div class="row">
                                <div class="col-4">
                                    <input type="text" pInputText [(ngModel)]="selectedRequest.prNum" name="prNum"
                                        placeholder="PR number" class="form-control" />
                                </div>

                            </div>
                            <p-divider type="dashed" />
                            <br>
                        </div>
                        <div *ngIf="selectedRequest.pR_Status===false">
                            <h2>Enter the cause:</h2>
                            <textarea rows="10" cols="70" pInputTextarea name="pR_Not_ConfirmCause"
                                [(ngModel)]="selectedRequest.pR_Not_ConfirmCause" required #cause="ngModel">
                    </textarea>
                        </div>


                    </div>

                </p-tabPanel>
                <p-tabPanel header="PO">
                    <div class="w-100">

                        <div>
                            <p-divider align="left" type="solid"><b>PO</b></p-divider>
                            <div class="row">
                                <div class="form-group">
                                    <input type="text" pInputText [(ngModel)]="selectedRequest.poNum" name="poNum"
                                        placeholder="PO number" class="form-control same-size-input" />
                                </div>

                            </div>
                            <p-divider type="dashed"></p-divider>
                            <br>
                        </div>

                    </div>
                </p-tabPanel>
            </p-tabView>
            <div style="text-align: right;">
                <p-button type="submit" [outlined]="true" [disabled]="loading2 ">
                    <ng-container *ngIf="!loading2; else loadingTemplate">
                        Confirm
                    </ng-container>
                    <ng-template #loadingTemplate>
                        <i class="pi pi-spinner pi-spin"></i> Loading...
                    </ng-template>
                </p-button>
            </div>
        </form>
    </div>


    <div *ngIf="IsController||IScONTROLLERbackupAprover">

        <div class="w-100">
            <p-divider type="dashed"></p-divider>

            <form (ngSubmit)="Approve()" class="position-relative" #form="ngForm">
                <h2>Select your response:</h2>
                <p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value"
                    name="financeconfirmSatuts" [(ngModel)]="selectedRequest.controllerconfirmSatuts" required>
                </p-selectButton>
                <br>
                <div class="container" *ngIf="selectedRequest.controllerconfirmSatuts!==false">
                    <p-divider align="left" type="solid"> <b>GL & CC & Order</b>
                    </p-divider>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <input pInputText id="GL" aria-describedby="gl-help" name="gl" placeholder="GL"
                                [(ngModel)]="selectedRequest.gl" class="form-control" />
                        </div>
                        <div class="col-md-4 mb-3">
                            <input pInputText id="CC" aria-describedby="CC-help" name="cc" placeholder="CC"
                                [(ngModel)]="selectedRequest.cc" class="form-control" />
                        </div>
                        <div class="col-md-4 mb-3">
                            <input pInputText id="order" aria-describedby="order-help" placeholder="Order" name="order"
                                [(ngModel)]="selectedRequest.order" class="form-control" />

                        </div>
                    </div>
                </div>
                <p-divider type="solid"> </p-divider>


                <br>
                <div *ngIf="selectedRequest.controllerconfirmSatuts==false">
                    <h2>Enter the cause:</h2>
                    <textarea rows="6" cols="50" pInputTextarea name="finance_Not_confirmCause"
                        [(ngModel)]="selectedRequest.controller_Not_confirmCause" required #cause="ngModel">
                </textarea>
                </div>
                <br>
                <div class="position-relative end-2 bottom-2">
                    <p-button type="submit" [outlined]="true" [disabled]="loading2 || form.invalid">
                        <ng-container *ngIf="!loading2; else loadingTemplate">
                            Confirm
                        </ng-container>
                        <ng-template #loadingTemplate>
                            <i class="pi pi-spinner pi-spin"></i> Loading...
                        </ng-template>
                    </p-button>
                </div>

            </form>


        </div>
    </div>






</p-dialog>
<p-dialog [(visible)]="visible2" header="Supplier Offer" [modal]="true" [style]="{ width: '50vw' }">
    <iframe [src]="loadPdf(selectedRequest.offer)" width="100%" height="600px" class="custom-iframe"></iframe>
</p-dialog>

<p-dialog [(visible)]="visible4" header="PR" [modal]="true" [style]="{ width: '50vw' }">

    <div *ngIf="IsItApprover||ISitbackupAprover">
        <div class="w-100">
            <p-divider type="dashed"></p-divider>

            <form (ngSubmit)="Approve()" class="position-relative" #form="ngForm">
                <h2>Select your response:</h2>
                <p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value" name="pR_Status"
                    [(ngModel)]="selectedRequest.pR_Status" required>
                </p-selectButton>
                <div *ngIf="form.submitted && !selectedRequest.pR_Status" class="error-message">
                    Response is required.
                </div>
                <br>

                <div *ngIf="selectedRequest.pR_Status!==false">
                    <p-divider align="left" type="solid"> <b> PR</b>
                    </p-divider>
                    <div class="row">
                        <div class="col-4">
                            <input type="text" pInputText [(ngModel)]="selectedRequest.prNum" name="prNum"
                                placeholder="PR number" class="form-control" />
                        </div>

                    </div>
                    <p-divider type="dashed" />
                    <br>
                </div>
                <div *ngIf="selectedRequest.pR_Status===false">
                    <h2>Enter the cause:</h2>
                    <textarea rows="10" cols="70" pInputTextarea name="pR_Not_ConfirmCause"
                        [(ngModel)]="selectedRequest.pR_Not_ConfirmCause" required #cause="ngModel">
            </textarea>

                </div>
                <br>
                <div class="position-relative end-0 bottom-0">
                    <p-button type="submit" [outlined]="true" [disabled]="loading2 || form.invalid">
                        <ng-container *ngIf="!loading2; else loadingTemplate">
                            Confirm
                        </ng-container>
                        <ng-template #loadingTemplate>
                            <i class="pi pi-spinner pi-spin"></i> Loading...
                        </ng-template>
                    </p-button>
                </div>
            </form>


        </div>
    </div>
</p-dialog>


<p-dialog [(visible)]="visible5" header="PO" [modal]="true" [style]="{ width: '50vw' }">

    <div *ngIf="IsItApprover||ISitbackupAprover">
        <div class="w-100">

            <form (ngSubmit)="Approve()" class="position-relative" #form="ngForm">
                <div *ngIf="selectedRequest.pR_Status === true">
                    <p-divider align="left" type="solid"><b>PO</b></p-divider>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" pInputText [(ngModel)]="selectedRequest.poNum" name="poNum"
                                placeholder="PO number" class="form-control same-size-input" />
                        </div>

                    </div>
                    <p-divider type="dashed"></p-divider>
                    <br>
                </div>
                <br>
                <div>
                    <p-button type="submit" [outlined]="true" [disabled]="loading2 || form.invalid">
                        <ng-container *ngIf="!loading2; else loadingTemplate">
                            Confirm
                        </ng-container>
                        <ng-template #loadingTemplate>
                            <i class="pi pi-spinner pi-spin"></i> Loading...
                        </ng-template>
                    </p-button>
                </div>
            </form>


        </div>
    </div>
</p-dialog>

<p-dialog [(visible)]="visible6" header="Update Request" [modal]="true" [style]="{ width: '50vw' }">


    <form #requestForm="ngForm" class="form" (ngSubmit)="Approve()">
        <p-divider></p-divider>
        <div class="row mt-2 ">
            <div class="col-md-6">
                <div class="flex flex-column gap-2">
                    <label for="type">Equipment Type:</label>
                    <input pInputText id="type" aria-describedby="type-help" name="equipmentType"
                        [(ngModel)]="selectedRequest.equipmentType" />

                </div>
            </div>
            <div class="col-md-6">
                <div class="flex flex-column gap-2">
                    <label for="sn">Serial Number:</label>
                    <input pInputText id="sn" aria-describedby="sn-help" name="sn" [(ngModel)]="selectedRequest.sn" />

                </div>
            </div>

        </div>
        <div class="row mt-2 ">

            <div class="col-md-6">
                <div class="flex flex-column gap-2">
                    <label for="supplier">Supplier:</label>
                    <p-dropdown optionLabel="suuplier_name" optionValue="suplierId" name="supplierId" [filter]="true"
                        [options]="suppliers" filterBy="suuplier_name" placeholder="Select the supplier"
                        class="flex-grow-1" [(ngModel)]="selectedRequest.supplierId" />

                </div>
            </div>
            <div class="col-md-6">
                <div class="flex flex-column gap-2">
                    <label for="sn">Damage Type:</label>
                    <p-dropdown [options]="choices" optionLabel="name" optionValue="name" name="damageTYpe"
                        placeholder="Select the Damage" class="flex-grow-1" [(ngModel)]="selectedRequest.damageTYpe" />

                </div>
            </div>

        </div>
        <div class="row mt-2">
            <p-divider align="left" type="solid">
                <b>User</b>
            </p-divider>
            <p-dropdown optionLabel="teNum" optionValue="id" name="userId" [options]="users"
                placeholder="Select the user" class="flex-grow-1" [filter]="true" filterBy="teNum"
                [(ngModel)]="selectedRequest.userId" />

        </div>

        <div class="row mt-2">
            <p-divider align="left" type="solid">
                <b>Offer</b>
            </p-divider>
            <p-fileUpload [disabled]="false" [multiple]="false" accept="application/pdf" maxFileSize="1000000"
                name="offer" (onSelect)="onFileUpload($event)">
            </p-fileUpload>

            <!-- Display PDF -->
            <div *ngIf="pdfSrc" class="p-d-flex p-ai-center">
                <iframe [src]="pdfSrc" width="100%" height="600px" class="custom-iframe"></iframe>
            </div>
        </div>
        <div class="row mt-2">
            <p-divider align="left" type="solid">
                <b>Description</b>
            </p-divider>
            <mat-form-field class="w-100">
                <mat-label>Description</mat-label>
                <textarea matInput [(ngModel)]="selectedRequest.description" required name="description"></textarea>
            </mat-form-field>
        </div>
        <p-divider></p-divider>
        <button class="submit btn btn-primary" [disabled]="loading2 || requestForm.invalid">
            <span *ngIf="loading2">
                <i class="pi pi-spin pi-spinner"></i>
                Sending...
            </span>
            <span *ngIf="!loading2">
                Submit
            </span>
        </button>
    </form>

</p-dialog>
<p-toast />