<app-nav-bar></app-nav-bar>

<div class="col text-center">
    <h1 class="mt-5"><i class="pi pi-bars" style="font-size: 1rem"></i> Maintenance Approval Queue List</h1>
</div>
<p-divider></p-divider>
<div class="container-fluid">
    <p-table [value]="maintenanceList" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '80rem' }"
        [rowsPerPageOptions]="[5, 10, 20]">
        <ng-template pTemplate="header">
            <tr>
                <th style="background-color: #769ef55f; "># Request Number</th>
                <th style="background-color: #769ef55f; ">Request Date</th>
                <th style="background-color: #769ef55f; ">By</th>
                <th style="background-color: #769ef55f; ">Equipment Type</th>
                <th style="background-color: #769ef55f;">Damage Type </th>
                <th style="background-color: #769ef55f; ">Status</th>

                <th style="background-color: #769ef55f; ">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-request>
            <tr [ngClass]="{'recent-request': isRecentRequest(request.requestDate)}">
                <td>{{ request.maintenanceId }}</td>
                <td>{{ request.requestDate | date:'dd/MM/yyyy hh:mm'}}</td>
                <td>{{ request.itApproverName}}</td>
                <td>{{ request.equipmentType}}</td>
                <td>{{ request.damageTYpe}}</td>
                <td>
                    <p-tag [rounded]="true" [value]="getRequestStatusGeneral(request)" [severity]="getRequestStatusGeneral(request) === 'Approved' ? 'success' :
                    getRequestStatusGeneral(request) === 'Open' ? 'info' :
                    getRequestStatusGeneral(request) === 'In Progress' ? 'secondary' :
                    getRequestStatusGeneral(request) === 'Approved' ? 'success':
                    getRequestStatusGeneral(request) === 'Rejected' ? 'danger' : 'info'" />

                </td>

                <td>
                     <p-button icon="pi pi-arrow-up-right" label="Details" severity="secondary"
                        (onClick)="showDialog(request)" [outlined]="true"></p-button>

                    <p-button  class="ml-2" icon="pi pi-reply" [outlined]="true" (onClick)="showDialog3(request)"
                        label="Approve" severity="Success"></p-button>
                  <!--  <p-button *ngIf="(IsItApprover===true ||ISitbackupAprover===true) && request.iTconfirmSatuts===true"class="ml-2" icon="pi pi-reply" [outlined]="true" (onClick)="showDialog3(request)"
                        label="Assign" severity="warning"></p-button> -->
                </td>

            </tr>
        </ng-template>

    </p-table>
    <div *ngIf="loading" class="text-center">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
            animationDuration=".5s" />
        <!-- or any loading indicator/message you prefer -->
        <p>Fetching data...</p>
    </div>
</div>



 <p-dialog header="Request Details" [modal]="true" [(visible)]="visible" [style]="{width: '70vw'}">
    <div class="position-relative" *ngIf="selectedRequest">
        <img *ngIf="selectedRequest?.requestStatus === true" src="/assets/Images/approved.png" width="222rem"
            alt="Approved" style="position: absolute; left: 11px;">
        <img *ngIf="selectedRequest?.requestStatus === false" src="/assets/Images/rejected.png" width="222rem"
            alt="Rejected" style="position: absolute; left: 11px;">
    </div>

    <p-timeline [value]="timelineEvents" align="alternate">
        <ng-template pTemplate="marker" let-event>
            <ng-container *ngIf="event.title">
                <span *ngIf="getIconForEvent(event)" [ngClass]="getIconForEvent(event)"
                    [style.color]="getColorForEvent(event)"></span>
            </ng-container>
        </ng-template>

        <ng-template pTemplate="content" let-event>
            <div class="p-timeline-event-content">
                <h4 style="color: #104a7c; font-size: 1.2rem;">{{ event.title }}</h4>
                <p-divider type="dashed"></p-divider>
                <p *ngIf="event.date"><b>Date:</b> {{ event.date | date:'dd/MM/yyyy hh:mm' }}</p>
                <p *ngIf="event.by"><b>By:</b> {{ event.by }}</p>
                <p *ngIf="event.Equipment"><b>Asset Type:</b> {{ event.Equipment }}</p>
                <p *ngIf="event.damageTYpe"><b>Damage Type:</b> {{ event.damageTYpe }}</p>
                <p *ngIf="event.supplier"><b>Supplier Name:</b> {{ event.supplier }}</p>
                <p *ngIf="event.ForWho"><b>For whom:</b> {{ event.ForWho }} </p>
                <p *ngIf="event.sn"><b> Equipement Serial Number:</b> {{ event.sn }} </p>
                <p *ngIf="event.equipementType"><b>Equipment Type:</b> {{ event.equipementType }} </p>
                <p *ngIf="event.statusManag"><b>Status:</b> {{ event.statusManag }} </p>
                <p *ngIf="event.statusFina || event.statusFina !=null"><b>Status:</b> {{ event.statusFina }} </p>
                <p *ngIf="event.statusIT  || event.statusIT !=null"><b>Status:</b> {{ event.statusIT }} </p>
                <p *ngIf="event.statusreq"><b>Status:</b> {{ event.statusreq }} </p>
                <p *ngIf="event.Comments"><b>Comment:</b> {{ event.Comments }}</p>
                <p *ngIf="event.RejectionCause"><b>Cause:</b> {{ event.RejectionCause }}</p>
                <p-button *ngIf="event.title==='Request Created'" (onClick)="showDialog2()" icon="pi pi-user" label="Supplier Offer" />
            </div>
        </ng-template>
    </p-timeline>
</p-dialog>


<p-dialog [(visible)]="visible3" header="Approval" >
    <div *ngIf="IsManger || ISbackupAprover">
        <div class="w-100">
            <p-divider type="dashed"></p-divider>

            <form (ngSubmit)="Approve()" class="position-relative" #form="ngForm">
                <h3>Select your response:</h3>
                <p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value"
                    name="departmangconfirmStatus" [(ngModel)]="selectedRequest.departmangconfirmStatus" required>
                </p-selectButton>
                <div *ngIf="form.submitted && !selectedRequest.departmangconfirmStatus" class="error-message">
                    Response is required.
                </div>
                <br>
                <h3>Enter the cause:</h3>
                <textarea rows="10" cols="70" pInputTextarea name="departmang_Not_confirmCause"
                    [(ngModel)]="selectedRequest.departmang_Not_confirmCause" required #cause="ngModel">
                </textarea>
                <div *ngIf="cause.touched && cause.invalid" class="error-message">
                    Cause is required.
                </div>
                <br>
                <div class="position-relative end-0 bottom-0">
                    <p-button type="submit" [outlined]="true" [disabled]="loading2 || form.invalid">
                        <ng-container *ngIf="!loading2; else loadingTemplate">
                            Confirm
                        </ng-container>
                        <ng-template #loadingTemplate>
                            <i class="pi pi-spinner pi-spin"></i> Loading...
                        </ng-template>
                    </p-button>
                </div>
            </form>
        </div>
    </div>



</p-dialog>
<p-dialog [(visible)]="visible2" header="Supplier Offer" 
[modal]="true" 
[style]="{ width: '50vw' }" 
>
    <iframe [src]="loadPdf(selectedRequest.offer)" width="100%" height="600px"
    class="custom-iframe"></iframe>
</p-dialog>


<p-toast />