<app-nav-bar></app-nav-bar>

<div class="row">
    <div class="col-6">
        <div class="col-md-6 offset-md-2">
            <form (ngSubmit)="ValidRequest()" class="form">
                <p class="title">Equipment Request </p>
                <p class="message">Enter your request informations. </p>

                <div class="flex flex-wrap gap-3">
                    <p class="message">If you want to request an equest for another employee ckeck the box below. </p>
                    <div class="flex align-items-center">
                        <p-checkbox name="forme" [(ngModel)]="checked" [binary]="true" inputId="binary"
                            label="For Another Employee" />
                    </div>
                </div>
                <div class="flex" *ngIf="checked">
                    <label>
                        <input type="text" pInputText placeholder="Employee name" />
                    </label>
                </div>

                <div class="flex">
                    <label>
                        <p-multiSelect [options]="equipemnts"  name="roles" optionLabel="equipName"
                        optionValue="equipName" [showClear]="true" [filter]="true" filterBy="equipName" placeholder="select the equipment you want"
                        multiple="multiple">
                      </p-multiSelect>
                    </label>

                    <label>
                        <p-inputNumber mode="decimal" placeholder="Number of equipment" [min]="1"
                            [max]="50"></p-inputNumber>
                    </label>
                </div>
                <span>Why you want this Equipments:</span>
                <label>

                    <textarea rows="5" cols="70" pInputTextarea>
                </textarea>
                </label>
                <button class="submit">Submit</button>

            </form>
        </div>
    </div>
</div>