<div class="menu-item">
  <div class="arrow"></div>
  <h2 class="title"><i class="pi pi-building" style="font-size: 1.5rem"></i>   Locations & Plants & Departments</h2>
  <p-divider type="dashed" />
  <div class="row">
    <div class="col-8">
      <div>
        <button type="button" class="btn btn-outline-secondary" (click)="showDialog()">+ Add</button>
      </div>
    </div>
    <div class="col-4">
      <div class="search-bar">
        <mat-form-field appearance="fill" class="search-field">
          <mat-label>Search by Location Name</mat-label>
          <input matInput [(ngModel)]="searchTerm" placeholder="Location Name">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div id="table" class="mat-elevation-z8">
    <div class="card">
      <p-table [value]="(plants | locationFilter:searchTerm) || []" [paginator]="true" [rows]="5"
        [tableStyle]="{ 'min-width': '50rem;border-radius: 30px;' }" [rowsPerPageOptions]="[5, 10, 20]" class="table">
        <ng-template pTemplate="header">
          <tr>
            <th>Location Name</th>
            <th>Plants</th>
            <th>Departments</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-plant>
          <tr>
            <td>{{plant.locationName}}</td>
            <td>
              <button mat-icon-button color="link" aria-label="View departments"
                (click)="openDepartmentModal(plant, 'plant')">
                <i class="pi pi-table" style="font-size: 1.3rem"></i>
              </button>
            </td>
            <td>
              <button mat-icon-button color="link" aria-label="View departments"
                (click)="openDepartmentModal(plant, 'department')">
                <i class="pi pi-warehouse" style="font-size: 1.3rem"></i>
              </button>
            </td>
            <td>
              <button (click)="deleteLocation(plant.locationId)" mat-icon-button color="warn">
                <i class="pi pi-trash" style="color: #fd2828"></i>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div *ngIf="loading2" class="text-center">
        <p-progressSpinner 
    styleClass="w-4rem h-4rem" 
    strokeWidth="8" 
    fill="var(--surface-ground)" 
    animationDuration=".5s" />
        <!-- or any loading indicator/message you prefer -->
        <p>Fetching data...</p>
    </div>
    </div>
  </div>

  <p-dialog header="Add Location & Plant & Department" [modal]="true" [(visible)]="visible">
    <div class="all">
      <div class="container">
        <form (ngSubmit)="AddNewLocation()">
          <p-panel header="Location Informations">
            <div class="flex-row gap-2 p-2">
              <div class="flex flex-column gap-2">
                <label for="Location-name">Location Name</label>
                <input pInputText id="Location-name" [(ngModel)]="location.locationName" name="locationName"
                  aria-describedby="Location-name-help" />
              </div>
            </div>
          </p-panel>
          <br>
          <p-tabView>

            <p-panel class="panel" header="Plant Informations" [toggleable]="true" >
              <div *ngFor="let plant of plantes; let i = index" class="flex-row gap-2 p-2">
                <div class="flex flex-column gap-2">
                  <label for="plant-name-{{i}}">Plant Name</label>
                  <input pInputText id="plant-name-{{i}}" [(ngModel)]="plant.plant_name" name="plantName-{{i}}"
                    aria-describedby="plant-name-help" />
                </div>
                <div class="flex flex-column gap-2">
                  <label for="sap-Number-{{i}}">SAP Number</label>
                  <input pInputText id="sap-Number-{{i}}" [(ngModel)]="plant.SapNumber" name="SapNumber-{{i}}"
                    aria-describedby="sap-Number-help" />
                </div>
                <div class="flex flex-column gap-2">
                  <label for="approver-name-{{i}}">Controller Name</label>
                  <p-dropdown [filter]="true" filterBy="fullName" [showClear]="true" id="approver-name-{{i}}"
                    [(ngModel)]="plant.ApproverId" name="approverName-{{i}}" [options]="controllers" optionValue="id"
                    optionLabel="fullName" aria-describedby="approver-name-help" placeholder="Select the controller">
                  </p-dropdown>
                </div>
                <div class="flex flex-column gap-2">
                  <label for="approver-name-{{i}}">It Approver Name</label>
                  <p-dropdown [filter]="true" filterBy="fullName" [showClear]="true" id="Itapprover-name-{{i}}"
                    [(ngModel)]="plant.itApproverId" name="ItapproverName-{{i}}" [options]="ItApprovers" optionValue="id"
                    optionLabel="fullName" aria-describedby="approver-name-help" placeholder="Select the It Approver">
                  </p-dropdown>
                </div>
              </div>
              <p-button label="Add new plant" (click)="addPlant($event)" [text]="true" severity="secondary" />
            </p-panel>
            <br>
            <p-panel header="Department Informations" [toggleable]="true" >
              <div *ngFor="let department of departments; let i = index" class="flex-row gap-2 p-2">
                <div class="flex flex-column gap-2">
                  <label for="department-name-{{i}}">Department Name</label>
                  <input pInputText id="department-name-{{i}}" [(ngModel)]="department.departmentName"
                    name="departmentName-{{i}}" aria-describedby="department-name-help" />
                </div>
                <div class="flex flex-column gap-2">
                  <label for="manager-email-{{i}}">Manager Email</label>
                  <input pInputText id="manager-email-{{i}}" [(ngModel)]="department.EmailManger"
                    name="EmailManger-{{i}}" aria-describedby="manager-email-help" />
                </div>
                <div class="w-full md:w-2">
                  <p-divider layout="vertical" styleClass="hidden md:flex">
                      <b>OR</b>
                  </p-divider>
                  <p-divider layout="horizontal" styleClass="flex md:hidden" [align]="'center'">
                      <b>OR</b>
                  </p-divider>
              </div>
                <div class="flex flex-column gap-2">
                  <label for="manager-name-{{i}}">Manager Name</label>
                  <p-dropdown [filter]="true" filterBy="fullName" [showClear]="true" id="manager-name-{{i}}"
                    [(ngModel)]="department.ManagerId" name="manager-name-{{i}}" [options]="users" optionValue="id"
                    optionLabel="fullName" aria-describedby="manager-name-help" placeholder="Select the manager">
                  </p-dropdown>
                </div>
                <div>
                  <label for="status-{{i}}">Status</label> <br>
                  <p-inputSwitch id="status-{{i}}" [(ngModel)]="department.status" name="status-{{i}}" />
                </div>
              </div>
              <p-button label="Add new department" (click)="addDepartment($event)" [text]="true" severity="secondary" />
            </p-panel>

          </p-tabView>

          <div class="button-container">
            <button type="submit">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </p-dialog>
</div>
<p-toast></p-toast>