<div *ngIf="isAuthenticated; else loginTemplate">
    <app-nav-bar></app-nav-bar>
    <div class="container-fluid">
      <div class="row align-items-center inner-container">
        <div class="col d-flex justify-content-center align-items-center">
          <img src="/assets/Images/MEnuTitle.gif" alt="" class="menu-title-img">
        </div>
      </div>
      <div class="row align-items-center inner-container">
        <div class="col d-flex justify-content-center align-items-center" id="col2">
          <div *ngIf="IsAdmin" class="menu-item">
             <a routerLink="/admin/dashboard"><button class="button">
             <img class="dashicon" src="assets/Images/dashboard.png" alt="">
            </button></a>
            <p class="desc">Dashboard</p>
            <span class="backdrop"></span>
          </div>
          <div *ngIf="IsManger || IsItApprover ||IsController || ISManagerbackupAprover || ISitbackupAprover || IScONTROLLERbackupAprover ||IsApprover" class="menu-item">
             <a routerLink="/RequestConfirmation"><button class="button">
             <img width="80px" src="assets/Images/Quene.png" alt="">
            </button></a>
            <p class="desc">Approval Queue</p> 
            <span class="backdrop"></span>
          </div>
          <div class="menu-item">
            <a (click)="showDialog2()"><button class="button">
              <img class="dashicon" src="assets/Images/AllRequests.png" alt="">
            </button></a>
            <p class="desc">My Requests</p>
            <span class="backdrop"></span>
          </div>
          
          <div class="menu-item">
            <button (click)="showDialog()" class="button">
              <a><img src="assets/Images/submit.png" alt="" class="request-img"></a>
            </button>
            <p class="desc">Submit a request</p>
            <span class="backdrop"></span>
          </div>
          <div class="menu-item">
            <a routerLink="/EquipmentLists"><button class="button">
              <img src="assets/Images/MyEquipments.png" alt="" class="request-img">
            </button></a>
            <p class="desc">My Equipments</p>
            <span class="backdrop"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loginTemplate>
    <app-loading></app-loading>
  </ng-template>
  
  <p-dialog header="Request Type" [modal]="true" [(visible)]="visible">
    <p-divider></p-divider>
    <div class="container">
      <div class="row align-items-start">
        <div class="col">
          <button routerLink="/EquipementRequest" class="btn"><i class="pi pi-desktop" style="font-size: 2rem;"></i><br>IT assets</button>
        </div>
        <div class="col">
          <button routerLink="/phoneRequest" class="btn"><i class="pi pi-mobile" style="font-size: 2rem;"></i> Phones/Modems</button>
        </div>
      </div>
    </div>
    <p-divider></p-divider>
  </p-dialog>
  <p-dialog header="Request Type" [modal]="true" [(visible)]="visible2">
    <p-divider></p-divider>
    <div class="container">
      <div class="row align-items-start">
        <div class="col">
          <button routerLink="/UserEquipementRequest" class="btn2"><i class="pi pi-desktop" style="font-size: 2rem;"></i><br>IT assets Requests</button>
        </div>
        <div class="col">
          <button routerLink="/UserPhoneRequest" class="btn2"><i class="pi pi-mobile" style="font-size: 2rem;"></i> Phones/Modems Requests</button>
        </div>
      </div>
    </div>
    <p-divider></p-divider>
  </p-dialog>

