
<!-- multistep form -->
<form id="msform" >
  
  <fieldset>
      <h2 class="fs-title">Create your account</h2>
      <div class="input-group">
          <input type="text" name="TeNUm" placeholder="FullName" />
      <input type="text" name="username" placeholder="Te identifier" />
          
      </div>
      <input type="text" name="email"  placeholder="Email" />
      
      <div class="input-group">
          <input type="password" name="password" />
          <input type="password" name="cpass"  />
      </div>
      
      <button id="registerbtn" class="submit action-button" type="submit">
          <span class="font-weight-bold">Register</span>
      </button> <br>
  </fieldset>
</form>
